<div class="row">
    <div class="col-md-12 p-t-20">
        <div class="table-responsive">
            <table class="table table-hover table-vmiddle">
                <thead>
                <tr>
                    <th class="header">Name</th>
                    <th class="header">Flight</th>
                    <th class="header">Group Type</th>
                    <th class="header">Status</th>
                    <th class="header"></th>
                </tr>
                <tr table-filters>
                    <th class="filter">
                        <input type="text"/>
                    </th>
                    <th class="filter">
                        <select class="form-control">
                            <option value="Select an Option">Group Type</option>
                            <option value="Option 1">BC1</option>
                            <option value="Option 2">BC2</option>
                            <option value="Option 3">BC3</option>
                            
                        </select>
                    </th>
                    <th class="filter">
                        <input type="text"/>
                    </th>

                </tr>
                </thead>
                <tr ng-repeat="group in groups.groups track by group.id" ng-mouseover="group.isVisible = true" ng-mouseleave="group.isVisible = false" style="height: 50px">
                    <td>{{group.flight}}</td>
                    <td>BC1</td>
                    <td>Incomplete</td>
                    <td style="width: 475px">
                        <button ng-if="group.isVisible" type="button" class="btn btn-link btn-sm waves-effect">View Status</button>
                        <button ng-if="group.isVisible" ng-click="groups.view=1; groups.back=true" type="button" class="btn btn-link btn-sm waves-effect">Assess Group</button>
                        <button ng-if="group.isVisible" ng-click="groups.view=2; groups.isPublishing = true;" type="button" class="btn btn-link btn-sm waves-effect">Publish</button>

                    </td>
                </tr>

                <tr>
                    <td>BC4-Flight01</td>
                    <td>BC4</td>
                    <td>Complete</td>
                    <td>
                        <button type="button" ng-click="groups.view=3; groups.back=true" class="btn btn-primary waves-effect">Group Results</button>
                        <button type="button" ng-click="groups.view=4; groups.back=true" class="btn btn-primary waves-effect">Capstone Results</button>

                    </td>
                </tr>

            </table>

        </div>
    </div>
</div>

