<div class="row">
    <div class="col-md-12 p-t-20">
        <div class="table-responsive">
            <table class="table table-hover tableCenterAlign">
                <thead>
                    <tr>
                        <th>Student</th>
                        <th style="padding-left: 22px;">Assessments</th>
                        <th style="padding-left: 22px;">Comments</th>
                        <!--<th>Composite Ranking</th>-->

                    </tr>
                </thead>
                <tbody>

                    <tr ng-repeat="groupMember in groups.selectedGroup.groupMembers | orderBy:'groupMember.student.person.LastName' track by groupMember.id">
                        <td>{{groupMember.student.person.LastName}}, {{groupMember.student.person.FirstName}}</td>
                        <td>
                            <button class="btn btn-link" ng-if="!groupMember.hasAssess" ng-click="groups.addAssessment(groupMember)">Add</button>
                            <button class="btn btn-link" ng-if="groupMember.hasAssess" ng-click="groups.editAssessment(groupMember)">View/Edit</button>
                        </td>
                        <td>
                            <button class="btn btn-link" ng-if="!groupMember.hasComment" ng-click="groups.addComment(groupMember)">Add</button>
                            <button class="btn btn-link" ng-if="groupMember.hasComment" ng-click="groups.editComment(groupMember)">View/Edit</button>
                        </td>

                        <!--<td>Jason Silvers</td>
                        <td>

                            <button class="btn btn-link" ng-click="groups.addAssessment()">Add</button>

                        </td>
                        <td>
                            <button class="btn btn-link" ng-click="groups.addComment()">View/Edit</button>

                        </td>-->
                        <!--<td>
                            <table>
                                <tr>
                                    <td>E: 4</td>
                                    <td>AE: 4</td>
                                    <td>HE: 2</td>
                                </tr>
                            </table>
                        </td>-->
                    </tr>

                </tbody>
            </table>

        </div>
    </div>
</div>


