<div class="card m-b-0" style="min-height: 450px" id="messages-main">

    <div class="ms-menu" data-ng-class="{ 'toggled': mactrl.lvMenuStat }">

        <div class="ms-block">
            <div class="dropdown" uib-dropdown="" style="">
                <a class="btn btn-primary btn-block dropdown-toggle waves-effect" href="" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false">Mass Flag <i class="caret m-l-5"></i></a>

                <ul class="dropdown-menu dm-icon w-100">
                    <li><a data-ng-click="groups.massFlagUnflagged()">Flag Unflagged as Neutral</a></li>
                    <li><a data-ng-click="groups.massFlagReset()">Reset All to Neutral</a></li>
                </ul>
            </div>
        </div>

        <div class="listview lv-user ecat-messages">

            <div class="lv-item media" ng-class="{'active': groups.selectedStudent.id==groupMember.id}" ng-repeat="groupMember in groups.selectedGroup.groupMembers | orderBy:'student.person.lastName' track by groupMember.id" ng-click="groups.selectedStudent=groupMember">
                <div class="lv-avatar pull-left">aw</div>
                <div class="media-body">
                    <div class="lv-title">{{groupMember.student.person.lastName}}, {{groupMember.student.person.firstName}}</div>
                    <i class="zmdi zmdi-check-all pull-right zmdi-hc-fw" ng-if="{(groupMember.authorOfComments | filter:{mpCommentFlagFac:null}).length == 0}"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="ms-menu" style="left: 240px; width: 200px">
        <div class="listview lv-user ecat-submessages">
            <div class="lv-item media" ng-class="{'active': groups.selectedComment.id==comment.id}" ng-repeat="comment in groups.selectedStudent.authorOfComments | orderBy:'recipient.student.person.lastName' track by recipient.id" ng-click="groups.selectedComment=comment; groups.radioCommentFlag=groups.selectedComment.mpCommentFlagFac">
                <div class="media-body">
                    <div class="lv-title">{{comment.recipient.student.person.lastName}}, {{comment.recipient.student.person.firstName}}</div>
                    <div class="lv-small clearfix">{{comment.mpCommentFlagRecipient}}<i class="zmdi zmdi-check pull-right zmdi-hc-fw" ng-if="comment.mpCommentFlagFac!==null"></i></div>
                </div>
            </div>
        </div>
    </div>

    <div class="ms-body">
        <div class="listview lv-message" style="margin-left: 200px">
            <div class="lv-body">
                <h4 class="f-400 p-l-20">Comment type: {{groups.selectedComment.mpCommentType}}</h4>
                <div class="p-20 media">
                    <div class="media-body f-14 clearfix">
                        {{groups.selectedComment.commentText}}
                    </div>
                    <div class="pull-right p-t-30 p-r-5">
                        <div class="btn-group clearfix">
                            <label class="btn btn-default" ng-class="{'btn-primary': groups.radioCommentFlag=='Negative'}" ng-model="groups.radioCommentFlag" uib-btn-radio="'Negative'" ng-change="groups.selectedComment.mpCommentFlagFac='Negative'">Negative</label>
                            <label class="btn btn-default" ng-class="{'btn-primary': groups.radioCommentFlag=='Neutral'}" ng-model="groups.radioCommentFlag" uib-btn-radio="'Neutral'" ng-change="groups.selectedComment.mpCommentFlagFac='Neutral'">Neutral</label>
                            <label class="btn btn-default" ng-class="{'btn-primary': groups.radioCommentFlag=='Positive'}" ng-model="groups.radioCommentFlag" uib-btn-radio="'Positive'" ng-change="groups.selectedComment.mpCommentFlagFac='Positive'">Positive</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="lv-footer">
                <div class="small f-12 pull-right p-r-15">
                    <i class="zmdi zmdi-time"></i> {{groups.selectedComment.modifiedDate}}
                </div>
            </div>
        </div>
    </div>
</div>

        <!--<div class="listview lv-user ecat-messages">

            <div class="lv-item media">
                <div class="lv-avatar pull-left">aw</div>
                <div class="media-body">
                    <div class="lv-title">Ann Watkinson </div>
                    <i class="zmdi zmdi-check pull-right zmdi-hc-fw"></i>
                </div>
            </div>

            <div class="lv-item media">
                <div class="lv-avatar pull-left">mw</div>
                <div class="media-body">
                    <div class="lv-title">Marse Walter</div>
                </div>
            </div>

            <div class="lv-item media active">
                <div class="lv-avatar pull-left">sh</div>
                <div class="media-body">
                    <div class="lv-title">Shark Henry</div>
                </div>
            </div>

            <div class="lv-item media">
                <div class="lv-avatar pull-left">pv</div>
                <div class="media-body">
                    <div class="lv-title">Paul Van Dack</div>
                </div>
            </div>

        </div>

    </div>
    <div class="ms-menu" style="left: 240px; width: 200px">

        <div class="listview lv-user ecat-submessages">

            <div class="lv-item media">
                <div class="media-body">
                    <div class="lv-title">Ann Watkinson </div>
                    <div class="lv-small clearfix">Negative <i class="zmdi zmdi-check pull-right zmdi-hc-fw"></i></div>
                    
                </div>
            </div>

            <div class="lv-item media">
                <div class="media-body">
                    <div class="lv-title">Marse Walter</div>
                    <div class="lv-small">Neutral<i class="zmdi zmdi-check pull-right zmdi-hc-fw"></i></div>                 
                </div>
            </div>

            <div class="lv-item media active">
                <div class="media-body">
                    <div class="lv-title">Shark Henry</div>
                    <div class="lv-small">Positive</div>
                </div>
            </div>

            <div class="lv-item media">
                <div class="media-body">
                    <div class="lv-title">Paul Van Dack</div>
                    <div class="lv-small">Neutral</div>
                </div>
            </div>

        </div>

    </div>

    <div class="ms-body">
        <div class="listview lv-message" style="margin-left: 200px">

            <div class="lv-body">
                <h4 class="f-400 p-l-20">Comment type: Annonymous</h4>
                <div class="p-20 media">
                    
                    <div class="media-body f-14 clearfix">

                        Quisque consequat arcu eget odio cursus, ut tempor arcu vestibulum. Etiam ex arcu, porta a urna non, lacinia pellentesque orci. Proin semper sagittis erat, eget condimentum sapien viverra et. Mauris volutpat magna nibh, et condimentum est rutrum a. Nunc sed turpis mi. In eu massa a sem pulvinar lobortis.

                    </div>


                    <div class="pull-right p-t-30 p-r-5">


                        <div class="btn-group clearfix">

                            <button type="button" class="btn btn-primary btn-icon-text">Negative</button>
                            <button type="button" class="btn bgm-default">Neutral</button>
                            <button type="button" class="btn bgm-default">Positive</button>

                        </div>

                    </div>
                </div>

                
            </div>

            <div class="clearfix"></div>
            <div class="lv-footer">
                
                <div class="small f-12 pull-right p-r-15">
                    <i class="zmdi zmdi-time"></i> January 2, 2016 at 09:00
                </div>
            </div>

        
        </div>
    </div>-->


