<div class="block-header">
    <h2>App: Designer Module [Instruments]</h2>
    <ul class="actions">
        <li>
            <a href="javascript:void(0)">
                <i class="zmdi  zmdi-plus-circle-o"></i>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)">
                <i class="zmdi zmdi-minus-circle-outline"></i>
            </a>
        </li>
        <li uib-dropdown>
            <a href="javascript:void(0)" uib-dropdown-toggle>
                <i class="zmdi-more-vert"></i>
            </a>
            <ul>
                <li ng-click="dwgi.activeView = dwgi.view.sp">Self/Peer</li>
                <li ng-click="dwgi.activeView = dwgi.view.kc">Knowledge Checks</li>
                <li ng-click="dwgi.activeView = dwgi.view.cog">Cogntive</li>
            </ul>
        </li>
    </ul>
</div>
<div ng-switch="dwgi.activeView">
    <div ng-switch-when="1" class="animated fadeInRight">
        <div ng-include="'@[appDesigner]/instrument/instr.sp.html'"></div>
    </div>
    <div ng-switch-when="2" class="animated fadeInRight">
        <div ng-include="'@[appDesigner]/instrument/instr.sp.html'"></div>
    </div>
    <div ng-switch-when="3" class="animated fadeInRight">
        <div ng-include="'@[appDesigner]/instrument/instr.sp.html'"></div>
    </div>
</div>