<div class="pmb-block">
    <div class="pmbb-header">
        <h2><i class="zmdi zmdi-account m-r-5"></i> External User Information</h2>

        <ul class="actions" ng-if="!profile.editing_externalUserForm">
            <li class="uib-dropdown" uib-dropdown>
                <a href="" uib-dropdown-toggle>
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="uib-dropdown-menu uib-dropdown-menu-right">
                    <li>
                        <a ng-click="profile.editing_externalUserForm = true" href="">Edit</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="pmbb-body p-l-30">
        <div class="pmbb-view" ng-if="!profile.editing_externalUserForm">
            <dl class="dl-horizontal">
                <dt>Home Station</dt>
                <dd>{{main.user.external.homeStation}}</dd>
            </dl>
        </div>

        <form ng-submit="profile.saveForm('externalUserForm')" name="profile.externalUserForm" class="pmbb-edit form-horizontal" ng-if="profile.editing_externalInfoForm" role="form">
            <div class="alert alert-dismissible alert-info" ng-if="profile.user.external">
                Just a minute...waiting for your profile information to finish loading;
            </div>
            <div ng-if="!profile.user.external">
                <div class="form-group p-t-10">
                    <label for="homestation" class="control-label col-md-2 ">Home Station</label>
                    <div class="col-md-10" ng-class="{'has-error': profile.studentInfoForm.homestation.$touched && profile.studentInfoForm.homestaion.$invalid}">
                        <div class="fg-line">
                            <input type="text"
                                   name="homestation"
                                   ng-model="profile.user.student.homeStation"
                                   class="form-control input-lg fg-input"
                                   maxlength="40"
                                   required/>
                        </div>
                        <small class="help-block" ng-show="profile.studentInfoForm.homestation.$touched && profile.studentInfoForm.homestation.$error.required">This is a required field.</small>
                    </div>
                </div>

                <div class="m-t-30">
                    <button class="btn btn-primary btn-sm" type="submit" ng-disabled="profile.inflight">Save</button>
                    <button class="btn btn-link btn-sm" data-ng-click="profile.cancelFormEdit('externalUserForm')" ng-disabled="profile.inflight">Cancel</button>
                </div>
            </div>



        </form>
    </div>
</div>
