<div class="container animated fadeInRight">
    <div class="block-header">
        <h2>APPLICATION: Student Assessment Center</h2>

        <ul class="actions">
            <li class="dropdown" uib-dropdown>
                <a href="" uib-dropdown-toggle>
                    <i class="zmdi zmdi-sort"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li ng-repeat="course in assess.courses track by course.id">
                        <a href="javascript:void(0)"
                           ng-click="assess.setActiveCourse(course)">
                            <i ng-if="course.id === assess.activeCrseId"
                               class="zmdi zmdi-chevron-right"></i>
                            {{course.displayName}}
                        </a>
                    </li>

                </ul>
            </li>
        </ul>
    </div>

    <div class="card" id="assessments-main">
        <div class="listview lv-bordered lv-lg">
            <div class="lv-header-alt clearfix p-b-5">

                <div class="btn-group clearfix m-l-5">

                    <button type="button"
                            class="btn"
                            ng-class="assess.activeView === assess.view.peer ? 'btn-primary': 'btn-default'"
                            ng-click="assess.changeActiveView('assess')">
                        <i class="zmdi zmdi-check" ng-if="assess.doneWithStrats"></i>
                        Assess Peers
                    </button>

                    <button type="button"
                            class="btn"
                            ng-class="assess.activeView === assess.view.strat ? 'btn-primary': 'btn-default'"
                            ng-if="assess.isGroupOpen"
                            ng-click="assess.changeActiveView('strat')">
                        <i class="zmdi zmdi-check" ng-if="assess.doneWithStrats"></i>
                        Stratify Group
                    </button>

                    <div class="btn-group dropdown"
                         ng-if="assess.isResultPublished"
                         uib-dropdown>

                        <button class="btn dropdown-toggle btn-icon-text waves-effect"
                                ng-class="assess.activeView === assess.view.myReport || assess.activeView === assess.view.comment  ? 'btn-primary': 'btn-default'"
                                uib-dropdown-toggle>
                            <i class="zmdi zmdi-menu"></i>
                            View Results - {{assess.activeView === assess.view.comment ? 'Comments' : 'My Report'}}
                        </button>

                        <ul class="dropdown-menu dropdown-menu-left"
                            role="menu">

                            <li>
                                <a href="javascript:void(0)"
                                   ng-click="assess.changeActiveView('myReport')">
                                    My Report
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"
                                   ng-click="assess.changeActiveView('comment')">
                                    Comments
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="pull-right">
                    
                    <ul class="lv-actions actions">

                        <li class="dropdown" uib-dropdown>

                            <button class="btn btn-link m-b-10 dropdown-toggle" uib-dropdown-toggle>
                                {{assess.grpDisplayName}}
                            </button>

                            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                <li ng-repeat="wg in assess.workGroups track by wg.id ">
                                    <a href="javascript:void(0)"
                                       ng-click="assess.setActiveGroup(wg, false)">
                                        <i ng-if="wg.id === assess.activeGroup.id" class="zmdi zmdi-toys zmdi-hc-fw"></i>
                                        {{wg.displayName}}
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown" uib-dropdown>
                            <a href="" uib-dropdown-toggle>
                                <i class="zmdi zmdi-more-vert"></i>
                            </a>

                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="">Refresh Data</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="lv-body" ng-if="assess.hasAcknowledged">
                <div ui-view></div>
            </div>

            <div ng-if="!assess.hasAcknowledged" class="lv-body p-20">
                <div ng-bind-html="assess.activeGroup.assignedSpInstr.studentInstructions" class="p-b-20"></div>
                <div class="text-center">
                    <button class="btn btn-primary" ng-click="assess.setAcknowledged()">
                        I Agree
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
