<div class="row">
    <div class="col-md-12">
        <div>
            <table class="table table-hover tableCenterAlign">
                <thead class="f-16">
                    <tr>
                        <th class="col-md-3 text-left f-400"
                            ng-click="al.sortList(al.sortOpt.student)">

                            Student

                            <i class="zmdi"
                               ng-if="al.activeSort.opt === al.sortOpt.student"
                               ng-class="al.activeSort.desc ? ' zmdi-sort-amount-desc' : ' zmdi-sort-amount-asc'"></i>
                        </th>
                        <th class="col-md-2 text-center f-400">Assessment</th>
                        <th class="col-md-2 text-center f-400">Comments</th>
                        <th class="col-md-2 text-center f-400"
                            ng-click="al.sortList(al.sortOpt.strat)">

                            Strat

                            <i class="zmdi"
                               ng-if="al.activeSort.opt === al.sortOpt.strat"
                               ng-class="al.activeSort.desc ? ' zmdi-sort-amount-desc' : ' zmdi-sort-amount-asc'"></i>
                        </th>
                        <th class="col-md-4 text-center f-400">
                            Composite/Breakout
                        </th>
                    </tr>
                </thead>
                <tbody class="f-14">
                    <tr class="tableBottomBorder" style="height: 56px;">
                        <td style="border-right: 1px solid #f0f0f0;">{{al.me.rankName}}</td>
                        <td class="text-center">
                            <a class="btn btn-link f-14"
                               href="javascript:void(0)"
                               ng-click="al.loadAssessment(al.me.studentId)">
                                {{al.me.assessText}}
                            </a>
                        </td>
                        <td class="text-center">
                            Not Available
                        </td>
                        <td class="text-center">
                            <span style="font-size: 1.6em" ng-if="al.me.stratText !== 'None'">{{al.me.stratText}}</span>
                            <span ng-if="al.me.stratText === 'None'">{{al.me.stratText}}</span>
                        </td>
                        <td class="text-center p-b-0 p-t-0">
                            <div id="sp-chart-data-{{$index}}" ng-if="al.me.hasChartData">
                                <span class="sp-graph-composite">{{al.me.statusOfPeer[al.me.studentId].compositeScore}}</span>
                                <div sp-break-out-chart
                                     charttype="pie"
                                     dataset="al.me.statusOfPeer[al.me.studentId].breakOutChartData"
                                     class="spflot-chart-pie"
                                     legend="flotlegend{{$index}}"></div>
                                <div id="flotlegend{{$index}}" style="display: none"></div>
                            </div>
                            <div ng-if="!al.me.hasChartData">
                                No Data
                            </div>
                        </td>

                    </tr>

                    <tr style="height: 56px" ng-repeat="peer in al.peers | orderBy:al.activeSort.opt:al.activeSort.desc track by peer.studentId">
                        <td style="border-right: 1px solid #f0f0f0">{{::peer.rankName}}</td>
                        <td class="text-center">
                            <a href="javascript:void(0)"
                               class="btn btn-link f-14"
                               ng-click="al.loadAssessment(peer.studentId)">
                                {{peer.assessText}}
                            </a>
                        </td>

                        <td class="text-center">
                            <a href="javascript:void(0)"
                               class="btn btn-link f-14"
                               ng-click="al.loadComment(peer.studentId)">
                                {{peer.commentText}}
                            </a>
                        </td>

                        <td class="text-center">
                            <span style="font-size: 1.6em" 
                                  ng-if="peer.stratText !== 'None'">{{peer.stratText}}</span>
                            <span ng-if="peer.stratText === 'None'">{{peer.stratText}}</span>
                        </td>

                        <td class="text-center p-b-0 p-t-0">
                            <div id="sp-chart-data-{{$index}}" 
                                 ng-if="peer.hasChartData">
                                <span class="sp-graph-composite">{{al.me.statusOfPeer[peer.studentId].compositeScore}}</span>
                                <div sp-break-out-chart
                                     charttype="pie"
                                     dataset="al.me.statusOfPeer[peer.studentId].breakOutChartData"
                                     class="spflot-chart-pie"
                                     legend="flotlegend{{$index}}"></div>
                                <div id="flotlegend{{$index}}" style="display: none"></div>
                            </div>
                            <div ng-if="!peer.hasChartData">
                                No Data
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


