<div class="row">
    <div class="col-md-12 p-t-20">
        <div>
            <table class="table table-hover tableCenterAlign">
                <thead>
                <tr class="f-16">
                    <th class="col-md-3 text-left f-400"
                        ng-click="al.sortList(al.sortOpt.student)">

                        Student

                        <i class="zmdi"
                           ng-if="al.activeSort.opt === al.sortOpt.student"
                           ng-class="al.activeSort.desc ? ' zmdi-sort-amount-desc' : ' zmdi-sort-amount-asc'"></i>
                    </th>
                    <th class="col-md-3 text-center f-400"
                        ng-click="al.sortList(al.sortOpt.breakout)">

                        Composite/Breakout

                        <i class="zmdi"
                           ng-if="al.activeSort.opt === al.sortOpt.breakout"
                           ng-class="al.activeSort.desc ? ' zmdi-sort-amount-desc' : ' zmdi-sort-amount-asc'"></i>
                    </th>
                    <th class="col-md-2 text-center f-400"
                        ng-click="al.sortList(al.sortOpt.strat)">

                        Strat

                        <i class="zmdi"
                           ng-if="al.activeSort.opt === al.sortOpt.strat"
                           ng-class="al.activeSort.desc ? ' zmdi-sort-amount-desc' : ' zmdi-sort-amount-asc'"></i>
                    </th>
                    <th class="col-md-2 text-center f-400">Proposed Change</th>
                    <th class="col-md-2 text-center f-400">Validation</th>
                </tr>
                </thead>
                <tbody class="f-14">

                <tr class="tableBottomBorder">
                    <td style="border-right: 1px solid #f0f0f0;">{{::al.me.rankName}}</td>
                    <td class="text-center  p-b-0 p-t-0">
                        <div ng-if="!al.me.hasChartData">
                            No Assessment
                        </div>
                        <div id="sp-chart-data-{{$index}}"
                             ng-if="al.me.hasChartData">

                            <span class="sp-graph-composite">{{al.me.statusOfPeer[al.me.studentId].compositeScore}}</span>

                            <div sp-break-out-chart
                                 charttype="pie"
                                 dataset="al.me.statusOfPeer[al.me.studentId].breakOutChartData"
                                 class="spflot-chart-pie"
                                 legend="flotlegend{{$index}}"> </div>
                            <div id="flotlegend{{$index}}" style="display: none"></div>
                        </div>
                    </td>
                    <td class="text-center">
                        <span ng-if="al.me.statusOfPeer[al.me.studentId].stratedPosition" style="width: 100px; font-size: 1.6em">
                                {{al.me.statusOfPeer[al.me.studentId].stratedPosition}}
                            </span>
                        <span ng-if="!al.me.statusOfPeer[al.me.studentId].stratedPosition">
                                None
                            </span>
                    </td>
                    <td class="text-center">
                        <input class="form-control text-center"
                               type="number"
                               style="width: 100px; font-size: 1.6em"
                               min="1"
                               max="groups.selectedGroup.groupMembers.length"
                               ng-change="al.evaluateStrat()"
                               ng-disabled="al.isSaving"
                               ng-model="al.me.proposedStratPosition"
                               ng-model-options="{debounce: 1000}"
                               tabindex="{{$index + 1}}"/>
                    </td>
                    <td class="text-center">
                        <span ng-if="al.me.stratIsValid">
                                Valid
                            </span>
                        <span ng-if="!al.me.stratIsValid">
                                <a href="javascript:void(0)"
                                   popover-append-to-body="true"
                                   popover-placement="left-top"
                                   popover-trigger="mouseenter"
                                   popover-title="Errors"
                                   uib-popover-template="'@[appCore]/common/tpls/stratErrorPopover.tpl.html'">
                                    Invalid
                                </a>
                            </span>
                    </td>
                </tr>
                <tr ng-repeat="peer in al.peers | orderBy:'stratText':al.activeSort.desc track by peer.studentId">
                    <td style="border-right: 1px solid #f0f0f0;">{{::peer.rankName}}</td>
                    <td class="text-center  p-b-0 p-t-0">
                        <div ng-if="!peer.hasChartData">
                            No Assessment
                        </div>
                        <div id="sp-chart-data-{{$index}}" ng-if="peer.hasChartData">
                            <span class="sp-graph-composite">{{al.me.statusOfPeer[peer.studentId].compositeScore}}</span>
                            <div sp-break-out-chart
                                 charttype="pie"
                                 dataset="al.me.statusOfPeer[peer.studentId].breakOutChartData"
                                 class="spflot-chart-pie"
                                 legend="flotlegend{{$index}}"> </div>
                            <div id="flotlegend{{$index}}" style="display: none"></div>
                        </div>
                    </td>
                    <td class="text-center">
                        <span ng-if="al.me.statusOfPeer[peer.studentId].stratedPosition" style="width: 100px; font-size: 1.6em">
                                {{al.me.statusOfPeer[peer.studentId].stratedPosition}}
                            </span>
                        <span ng-if="!al.me.statusOfPeer[peer.studentId].stratedPosition">
                                None
                            </span>
                    </td>
                    <td class="text-center">
                        <input class="form-control text-center"
                               type="number"
                               style="width: 100px; font-size: 1.6em"
                               min="1"
                               max="groups.selectedGroup.groupMembers.length"
                               ng-change="al.evaluateStrat()"
                               ng-disabled="al.isSaving"
                               ng-model="peer.proposedStratPosition"
                               ng-model-options="{debounce: 1000}"
                               tabindex="{{$index + 1}}"/>
                    </td>
                    <td class="text-center">
                        <span ng-if="peer.stratIsValid">
                                Valid
                            </span>
                        <span ng-if="!peer.stratIsValid">
                                <a href="javascript:void(0)" 
                                   popover-append-to-body="true" 
                                   popover-placement="left-top" 
                                   popover-trigger="mouseenter" 
                                   popover-title="Errors" 
                                   uib-popover-template="'@[appCore]/common/tpls/stratErrorPopover.tpl.html'">
                                    Invalid
                                </a>
                            </span>
                    </td>
                </tr>

                </tbody>
            </table>

        </div>

        <div class="text-center p-t-5 p-b-20">
            <button class="btn btn-primary"
                    ng-click="al.saveChanges()"
                    style="margin-top: 3px"
                    ng-disabled="al.isSaving || al.isGroupUnderReview">
                <span ng-if="al.isSaving">Saving...</span>
                <span ng-if="!al.isSaving"> Save Stratification</span>
            </button>
        </div>

    </div>
</div>