<div class="card m-b-0" id="messages-main" ng-if="wkp.hasComments">
    <div class="row">
        <div class="col-md-3" style="padding-right: 0;">
            <div class="ms-menu">

                <div class="ms-block">
                    Your mail
                </div>

                <div class="listview lv-user ecat-messages m-t-20">

                    <div class="lv-item media"
                         ng-class="{'active': wkp.selectedAuthor.studentId === author.studentId}"
                         ng-repeat="author in wkp.gmWithComments track by author.studentId"
                         ng-click="wkp.selectAuthor(author)">

                        <div class="lv-avatar pull-left">
                            {{author.studentProfile.person.firstName.charAt(0)}}{{author.studentProfile.person.lastName.charAt(0)}}
                        </div>

                        <div class="media-body">
                            <div class="lv-title">
                                {{author.rankName}}
                            </div>
                            <span class="badge" ng-if="author.numRemaining">{{author.numRemaining}}</span>
                            <span class="flag-breakdown" style="color: #D8D8D8">
                                <span class="p-r-5">
                                    <i class="zmdi zmdi-hc-fw zmdi-plus-circle-o"></i>{{author.totalPosCount}}
                                </span>
                                <span class="p-r-5">
                                    <i class="zmdi zmdi-hc-fw zmdi-minus-circle-outline"></i>{{author.totalNeutCount}}
                                </span>
                                <span>
                                    <i class="zmdi zmdi-hc-fw zmdi-close-circle-o"></i>{{author.totalNegCount}}
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9" style="padding-left: 0;">
            <div class="ms-body">
                <div class="listview lv-message">
                    <div class="lv-body">
                        <div ng-if="wkp.selectedComment === null">
                            <h2 class="text-center">Select a recipient...</h2>
                        </div>
                        <div ng-if="wkp.selectedComment !== null">
                            <h4 class="f-400 p-l-20">Comment type: {{wkp.selectedComment.mpCommentType}}</h4>
                            <div class="p-20 media">
                                <div class="media-body f-14">
                                    <p ng-bind-html="wkp.selectedComment.commentText"></p>
                                </div>
                                <div class="pull-right p-t-30 p-r-5">
                                    <div class="btn-group">
                                        <label class="btn btn-default"
                                               ng-class="{'btn-primary': wkp.selectedComment.flag.mpFacultyFlag === wkp.commentFlag.appr}"
                                               ng-model="wkp.selectedComment.flag.mpFacultyFlag"
                                               ng-click="wkp.updateRemaining(wkp.selectedComment.author, wkp.commentFlag.appr)"
                                               uib-btn-radio="wkp.commentFlag.appr">
                                            {{wkp.commentFlag.appr}}
                                        </label>

                                        <label class="btn btn-default"
                                               ng-class="{'btn-primary': wkp.selectedComment.flag.mpFacultyFlag=== wkp.commentFlag.inappr}"
                                               ng-model="wkp.selectedComment.flag.mpFacultyFlag"
                                               ng-click="wkp.updateRemaining(wkp.selectedComment.author, wkp.commentFlag.inappr)"
                                               uib-btn-radio="wkp.commentFlag.inappr">
                                            {{wkp.commentFlag.inappr}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="lv-footer">
                                <div class="small f-12 pull-right p-r-15">
                                    Last Modified: <i class="zmdi zmdi-time"></i> {{wkp.selectedComment.modDate}}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<div ng-if="!wkp.hasComments">
    <h1 class="text-center">Well this should be easy...there are no comments to evaluate!</h1>
</div>