<div class="row">
    <div class="col-md-12 p-t-20">
        <div class="table-responsive">
            <table class="table table-hover tableCenterAlign">
                <thead>
                    <tr>
                        <th class="col-md-3"
                             ng-click="assess.sortList(assess.sortOpt.student)">
                            <a href="javascript:void(0)">
                                Student
                            </a>
                            <i class="zmdi pull-right"
                               ng-if="assess.activeSort.opt === assess.sortOpt.student" 
                               ng-class="assess.activeSort.desc ? ' zmdi-sort-amount-desc' : ' zmdi-sort-amount-asc'"></i>
                        </th>
                        <th class="col-md-3 text-center"
                             ng-click="assess.sortList(assess.sortOpt.assess)">
                            <a href="javascript:void(0)">
                                Assessment
                            </a>
                            <i class="zmdi pull-right"
                               ng-if="assess.activeSort.opt === assess.sortOpt.assess"
                               ng-class="assess.activeSort.desc ? ' zmdi-sort-amount-desc' : ' zmdi-sort-amount-asc'"></i>
                        </th>
                        <th class="col-md-3 text-center"
                             ng-click="assess.sortList(assess.sortOpt.comment)">
                            <a href="javascript:void(0)">
                                Comment
                            </a>
                            <i class="zmdi pull-right"
                               ng-if="assess.activeSort.opt === assess.sortOpt.comment"
                               ng-class="assess.activeSort.desc ? ' zmdi-sort-amount-desc' : ' zmdi-sort-amount-asc'"></i>
                        </th>
                        <th class="col-md-3 text-center"
                              ng-click="assess.sortList(assess.sortOpt.strat)">
                            <a href="javascript:void(0)">
                                Strat
                            </a>
                            <i class="zmdi pull-right"
                               ng-if="assess.activeSort.opt === assess.sortOpt.strat"
                               ng-class="assess.activeSort.desc ? ' zmdi-sort-amount-desc' : ' zmdi-sort-amount-asc'"></i>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tableBottomBorder">
                        <td>{{::assess.me.rankName}}</td>
                        <td class="text-center">
                            <a class="btn btn-link"
                               href="javascript:void(0)"
                               ng-click="assess.loadAssessment(assess.me)">
                                {{::assess.me.assessText}}
                            </a>
                        </td>
                        <td class="text-center">
                            Not Available
                        </td>
                        <td class="text-center">
                            {{assess.me.stratText}}
                        </td>
                    </tr>

                    <tr ng-repeat="peer in assess.peers | orderBy :assess.activeSort.opt:assess.activeSort.desc track by peer.studentId">
                        <td>{{::peer.rankName}}</td>
                        <td class="text-center">
                            <a href="javascript:void(0)"
                               class="btn btn-link"
                               ng-click="assess.loadAssessment(peer.studentId)">
                                {{peer.assessText}}
                            </a>
                        </td>

                        <td class="text-center">
                            <a href="javascript:void(0)"
                               class="btn btn-link"
                               ng-click="assess.loadComment(peer.studentId)">
                                {{peer.commentText}}
                            </a>
                        </td>

                        <td class="text-center">
                            {{assess.me.statusOfPeer[peer.studentId].stratPosition || 'Not Stratified'}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


