<div class="row">
    <div class="col-md-12">
        <div class="text-center">
            <h3 class="lead m-t-0 m-b-0">Acknowledgment</h3>
        </div>
    </div>
</div>

<hr/>

<div class="row">
    <div class="col-md-12 p-t-20">
        <p ng-if="assessAdd.mode=='student'">{{assessAdd.activeResponse.inventoryItem.instrument.peerInstructions}}</p>
        <p ng-if="assessAdd.mode=='facilitator'">{{assessAdd.activeResponse.inventoryItem.instrument.facInstructions}}</p>
     </div>
</div>



