<div class="container animated fadeInRight">
    <div class="block-header">
        <h2>Assessment Design Center</h2>
    </div>

    <div class="card" id="instruments-main">
        <div class="listview lv-bordered lv-lg">
            <div class="lv-header-alt clearfix p-b-5">
                <div class="btn-group clearfix m-r-25">
                    <button type="button" class="btn btn-primary" ng-if="instruments.back" ng-click="instruments.view=0; instruments.back=false; instruments.details=false"><i class="zmdi zmdi-arrow-left zmdi-hc-fw"></i>Back to Assessments</button>
                    <button type="button" class="btn btn-warning" ng-if="instruments.details" ng-click="instruments.view=1">Assessment</button>
                    <button type="button" class="btn btn-warning" ng-if="instruments.details" ng-click="instruments.view=2">Behaviors</button>
                    <button type="button" class="btn btn-primary" ng-if="instruments.view==0" ng-click="instruments.newInstrument()">New Assessment</button>
                    <button type="button" class="btn btn-primary" ng-if="instruments.view==2" ng-click="instruments.newBehavior()">New Behavior</button>
                </div>

                <ul class="lv-actions actions">
                    <li class="dropdown" uib-dropdown>
                        <a href="" uib-dropdown-toggle>
                            <i class="zmdi zmdi-more-vert"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a href="">Refresh Data</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="lv-body" ng-init="instruments.view=0">
                <div ng-switch="instruments.view">
                    <div ng-switch-when="0">
                        <div ng-include="'wwwroot/app/designer/features/instruments/tmpls/designer.instruments.tmpl.html'"></div>
                    </div>
                    <div ng-switch-when="1">
                        <div ng-include="'wwwroot/app/designer/features/instruments/tmpls/designer.instruments.details.tmpl.html'"></div>
                    </div>
                    <div ng-switch-when="2">
                        <div ng-include="'wwwroot/app/designer/features/instruments/tmpls/designer.instruments.inventories.tmpl.html'"></div>
                    </div>
                </div>
            </div>
            <div ng-if="instruments.view==1 || instruments.view==2" class="p-t-30 p-b-30 text-center">
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>
