<div class="row">
    <div class="col-md-12 p-t-20">
        <div class="table-responsive">
            <table class="table table-hover table-vmiddle">
                <thead>
                    <tr>
                        <th class="header">Name</th>
                        <th class="header">Class Num</th>
                        <th class="header">Start Date</th>
                        <th class="header">Grad Date</th>
                        <th class="header"></th>
                    </tr>
                </thead>
                <tr ng-repeat="course in courses.courses | orderBy:['-classNumber'] track by id" ng-mouseover="course.isVisible = true" ng-mouseleave="course.isVisible = false" style="height: 50px">
                    <td>{{course.name}}</td>
                    <td>{{course.classNumber}}</td>
                    <td>{{course.startDate}}</td>
                    <td>{{course.gradDate}}</td>
                    <td style="width: 550px">
                        <button type="button" ng-if="course.isVisible" ng-click="coures.selectCourse(course); courses.view=1; courses.back=true; courses.enrollments=true" class="btn btn-link waves-effect">View Enrollments</button>
                        <button type="button" ng-if="course.isVisible" ui-sref="{{stateMgr.courseAdmin.groups.name}}" ng-click="courses.goToGroups(course)" class="btn btn-link waves-effect">Go To Groups</button>
                        <button type="button" ng-if="course.isVisible && !course.gradReportPublished" ng-click="courses.publishGradRpt(course)" class="btn btn-link waves-effect">Publish Grad Report</button>
                        <label ng-if="course.isVisible && course.gradReportPublished">Grad Report Published</label>
                    </td>
                </tr>

                <!--<tr ng-mouseover="group.isVisible = true" ng-mouseleave="group.isVisible = false" style="height: 50px">
                    <td>ALE</td>
                    <td>16-3</td>
                    <td>3/2/2016</td>
                    <td>4/15/2016</td>
                    <td style="width: 550px">
                        <button type="button" ng-if="group.isVisible" ng-click="courses.view=1; courses.back=true; courses.enrollments=true" class="btn btn-link waves-effect">View Enrollments</button>
                        <button type="button" ng-if="group.isVisible" ui-sref="{{stateMgr.courseAdmin.groups.name}}" ng-click="courses.goToGroups(course)" class="btn btn-link waves-effect">Go To Groups</button>
                        <button type="button" ng-if="group.isVisible" ng-click="courses.publishGradRpt(course)" class="btn btn-link waves-effect">Publish Grad Report</button>
                    </td>
                </tr>
                <tr ng-mouseover="group.isVisible = true" ng-mouseleave="group.isVisible = false" style="height: 50px">
                    <td>ALE</td>
                    <td>16-4</td>
                    <td>1/1/2016</td>
                    <td>2/15/2016</td>
                    <td style="width: 550px">
                        <button type="button" ng-if="group.isVisible" ng-click="courses.view=1; courses.back=true; courses.enrollments=true" class="btn btn-link waves-effect">View Enrollments</button>
                        <button type="button" ng-if="group.isVisible" ui-sref="{{stateMgr.courseAdmin.groups.name}}" ng-click="courses.goToGroups(course)" class="btn btn-link waves-effect">Go To Groups</button>
                        <button type="button" ng-if="group.isVisible" ng-click="courses.publishGradRpt(course)" class="btn btn-link waves-effect">Publish Grad Report</button>
                    </td>
                </tr>-->

            </table>

        </div>
    </div>
</div>

