<div class="row">
    <div class="col-md-12">
        <div class="text-center">
            <h4 class="lead">{{courses.selectedCourse.classNumber}} {{courses.selectedCourse.name}} Students</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 p-t-20">
        <div class="table-responsive">
            <table class="table table-hover table-vmiddle">
                <thead>
                    <tr>
                        <th class="header">Name</th>
                        <th class="header">Rank</th>
                        <th class="header">Affiliation</th>
                        <th class="header">Component</th>
                        <th class="header">Group Enrollments</th>
                    </tr>
                    <tr table-filters>
                        <th class="filter">
                            <input type="text" ng-model="filterName"/>
                        </th>
                    </tr>
                </thead>
                <tr ng-repeat="student in courses.students | filter:{lastName: filterName} | orderBy:['lastName','firstName'] track by student.id" style="height: 50px">
                    <td>{{student.person.lastName}}, {{student.person.firstName}}</td>
                    <td>{{student.person.rank}}</td>
                    <td>{{student.person.affiliation}}</td>
                    <td>{{student.person.component}}</td>
                    <td><a ng-repeat="groupMem in student.studGroupEnrollments">{{groupMem.group.groupNumber}}</a></td>
                </tr>
                <!--<tr>
                    <td>Student, Name</td>
                    <td>SMSgt</td>
                    <td>US</td>
                    <td>AF</td>
                    <td>BC1 BC2</td>
                </tr>
                <tr>
                    <td>Student, Name</td>
                    <td>SMSgt</td>
                    <td>US</td>
                    <td>AF</td>
                    <td>BC2</td>
                </tr>
                <tr>
                    <td>Student, Name</td>
                    <td>SMSgt</td>
                    <td>US</td>
                    <td>AF</td>
                    <td>BC1 BC2 BC3 BC4</td>
                </tr>-->
            </table>
        </div>
    </div>
</div>

