<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

  </configSections>
  <connectionStrings>
    <!-- add name="ecat" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=ecat;Integrated Security=True;Connect Timeout=30;Encrypt=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient" /> -->
    <add name="ecat" connectionString="Data Source=tcp:epmeelamockupdata.database.windows.net,1433;Initial Catalog=ecat;User ID=dbEpmeAmin@epmeelamockupdata;Password=P)O(i8u7p0o9I*U&amp;;Integrated Security=False;Connect Timeout=30;Encrypt=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>