<div class="modal-header">
    <h4 class="thinHeader">Add/Edit Comment</h4>
</div>



<div class="modal-body ">
    <form name="comment.nf" class="form-horizontal" novalidate role="form">
        <div class="form-group">
            <label for="to" class="control-label col-md-1">To:</label>
            <div class="col-md-8">
                <div class="fg-line">
                    <input type="text"
                           name="to"
                           id="to"
                           value = "{{commentAe.recipientName}}"
                           class="form-control fg-input"
                           disabled/>
                </div>
            </div>
            <div class="col-md-3">
                <div class="profile-pic">
                    <img alt="User Avatar" ng-src="{{commentAe.recipientAvatar}}">
                </div>
            </div>
        </div>
        <div class="form-group" ng-if="commentAe.canChangeComment">
            <label for="from" class="control-label col-md-1">From:</label>
            <div class="col-md-8">
                <div class="fg-line">
                    <select ng-model="commentAe.comment.mpCommentType"
                            name="from"
                            required
                            class="form-control input-lg fg-input">
                        <option selected value="commentAe.commentType.signed">{{commentAe.recipientName}}</option>
                        <option value="commentAe.commentType.anon">Annonymous</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="profile-pic">
                    <img alt="User Avatar" ng-src="{{commentAe.authorAvatar}}">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="fg-line">
                <div class="col-md-12">
                    <div text-angular ng-model="commentAe.comment.commentText" class="pmbb-edit"></div>
                </div>
            </div>
        </div>
    </form>

</div>
<div class="modal-footer">
    <!-- TODO: Add Comment Type field -->
    <div class="btn-group btn-group-xs pull-left m-t-10">
        <label class="btn btn-default waves-effect" ng-class="{'btn-primary': commentAe.radioComment===commentAe.commentFlag.neg}" ng-model="commentAe.radioComment" uib-btn-radio="{{commentAe.commentFlag.neg}}">{{commentAe.commentFlag.neg}}</label>
        <label class="btn btn-default waves-effect" ng-class="{'btn-primary': commentAe.radioComment===commentAe.commentFlag.neut}" ng-model="commentAe.radioComment" uib-btn-radio="{{commentAe.commentFlag.neut}}">{{commentAe.commentFlag.neut}}</label>
        <label class="btn btn-default waves-effect" ng-class="{'btn-primary': commentAe.radioComment===commentAe.commentFlag.pos}" ng-model="commentAe.radioComment" uib-btn-radio="{{commentAe.commentFlag.pos}}">{{commentAe.commentFlag.pos}}</label>
    </div>

    <button class="btn btn-danger" type="button" ng-click="assessEdit.delete()">Delete</button>
    <button class="btn btn-link" type="button" ng-click="commentAe.save()">Save</button>
    <button class="btn btn-link" type="button" ng-click="commentAe.cancel()">Cancel</button>
</div>