<div class="modal-header">
    <div class="row">
        <div class="col-md-2">
            <div class="profile-pic">
                <img alt="User Avatar" ng-src="{{main.user.avatarLocation || main.user.defaultAvatarLocation}}">
            </div>

        </div>

        <div class="col-md-8">
            <h4 class="text-center thingHeader" ng-if="assessEdit.mode!=='self'">Assessment for {{assessEdit.spResponses[0].assessee.student.person.lastName}}, {{assessEdit.spResponses[0].assessee.student.person.fastName}}</h4>
            <h4 class="text-center thingHeader" ng-if="assessEdit.mode=='self'">Self Assessment</h4>
        </div>
    </div>

    <hr />

</div>
<div class="modal-body">

    <div class="p-b-10 m-b-5" ng-repeat="spResponse in assessEdit.spResponses | orderBy:'spResponse.inventoryItem.displayOrder'">
        <div class="row" ng-if="!spResponse.showQuestion" ng-mouseover="spResponse.rowShow=true" ng-mouseleave="spResponse.rowShow=false">
            <div class="col-md-1">
                <button class="btn btn-default waves-effect" ng-if="spResponse.rowShow" ng-click="spResponse.showQuestion=!spResponse.showQuestion; assessEdit.checkReponse()">
                    <i class="zmdi zmdi-more-vert"></i>
                </button>
            </div>

            <div class="col-md-11">
                <p class="lead f-13">
                    <strong>{{assessEdit.mpItemResponse}} @ </strong> {{spResponse.inventoryItem.behavior}}
                </p>
            </div>
        </div>
        <div class="row p-b-20" ng-if="spResponse.showQuestion">
            <div class="col-md-1">
                <ul class="lv-actions actions">
                    <li class="dropdown" uib-dropdown>
                        <a href="" uib-dropdown-toggle>
                            <i class="zmdi zmdi-more-vert"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a href="" ng-if="assessEdit.radios[spResponse.id].displayed===false" ng-click="assessEdit.radios[spResponse.id].displayed=true">Displayed</a>
                            </li>
                            <li>
                                <a href="" ng-if="assessEdit.radios[spResponse.id].displayed===true" ng-click="assessEdit.radios[spResponse.id].displayed=false; assessEdit.radios[spResponse.id].effectiveness='None'; assessEdit.radios[spResponse.id].freq='None'">Not Displayed</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div>
                <div ng-if="assessEdit.radios[spResponse.id].displayed===true" class="col-md-6  p-l-5 p-r-5 p-t-4">
                    <div class="btn-group btn-group-xs">
                        <button type="button" class="btn btn-default waves-effect" ng-class="{'btn-primary': assessEdit.radios[spResponse.id].effectiveness=='ineffective'}" ng-model="assessEdit.radios[spResponse.id].effectiveness" uib-btn-radio="'ineffective'">Ineffective</button>
                        <button type="button" class="btn btn-default waves-effect" ng-class="{'btn-primary': assessEdit.radios[spResponse.id].effectiveness=='effective'}" ng-model="assessEdit.radios[spResponse.id].effectiveness" uib-btn-radio="'effective'">Effective</button>
                        <button type="button" class="btn btn-default waves-effect" ng-class="{'btn-primary': assessEdit.radios[spResponse.id].effectiveness=='highlyeffective'}" ng-model="assessEdit.radios[spResponse.id].effectiveness" uib-btn-radio="'highlyeffective'">Highty Effective</button>
                    </div>
                </div>
                <div ng-if="assessEdit.radios[spResponse.id].displayed===true" class="col-md-3 p-l-5 p-r-5 p-t-4">
                    <div class="btn-group btn-group-xs">
                        <button type="button" class="btn btn-default waves-effect" ng-class="{'btn-primary': assessEdit.radios[spResponse.id].freq=='frequently'}" ng-model="assessEdit.radios[spResponse.id].freq" uib-btn-radio="'frequently'">Frequently</button>
                        <button type="button" class="btn btn-default waves-effect" ng-class="{'btn-primary': assessEdit.radios[spResponse.id].freq=='always'}" ng-model="assessEdit.radios[spResponse.id].freq" uib-btn-radio="'always'">Always</button>
                    </div>
                </div>
                <!--<div ng-if="!response.notDisplayed" class="col-md-6  p-l-5 p-r-5 p-t-4">
                    <div class="btn-group btn-group-xs">
                        <button type="button" class="btn btn-primary">Ineffective</button>
                        <button type="button" class="btn btn-default">Effective</button>
                        <button type="button" class="btn btn-default">Highty Effective</button>
                    </div>
                </div>
                <div ng-if="!response.notDisplayed" class="col-md-3 p-l-5 p-r-5 p-t-4">
                    <div class="btn-group btn-group-xs">
                        <button type="button" class="btn btn-primary">Frequently</button>
                        <button type="button" class="btn btn-default">Always</button>
                    </div>
                </div>-->
                <div ng-if="assessEdit.radios[spResponse.id].displayed===false" class="col-md-9">
                    <p class="lead text-center f-12 p-t-5">NOT DISPLAYED</p>
                </div>
                <div class="col-md-2 p-l-30">
                    <button class="btn btn-default waves-effect" ng-click="assessEdit.checkResponse(spResponse); spResponse.showQuestion = !spResponse.showQuestion" ng-disabled="assessEdit.radios[spResponse.id].displayed===true && (assessEdit.radios[spResponse.id].effectiveness==='None' || assessEdit.radios[spResponse.id].freq==='None')" style="padding: 3px; padding-top: 1px; padding-bottom: 1px; margin-top: 4px;">
                        <i class="zmdi zmdi-close"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!---->
    <!--<div class="p-b-10 m-b-5" ng-repeat="question in assessEdit.questions track by question.id">

        <div class="row" ng-if="!question.showQuestion" ng-mouseover="question.rowShow=true" ng-mouseleave="question.rowShow=false">
            <div class="col-md-1">
                <button class="btn btn-default waves-effect" ng-if="question.rowShow" ng-click="question.showQuestion = !question.showQuestion">
                    <i class="zmdi zmdi-more-vert"></i>
                </button>
            </div>

            <div class="col-md-11">
                <p class="lead f-13">
                    <strong>Always Highly Effective @ </strong> {{question.question}}
                </p>
            </div>
        </div>

        <div class="row p-b-20" ng-if="question.showQuestion">
            <div class="col-md-1">
                <ul class="lv-actions actions">
                    <li class="dropdown" uib-dropdown>
                        <a href="" uib-dropdown-toggle>
                            <i class="zmdi zmdi-more-vert"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a href="" ng-if="question.notDisplayed" ng-click="question.notDisplayed = false">Displayed</a>
                            </li>
                            <li>
                                <a href="" ng-if="!question.notDisplayed" ng-click="question.notDisplayed = true">Not Displayed</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div>
                <div ng-if="!question.notDisplayed" class="col-md-6  p-l-5 p-r-5 p-t-4">
                    <div class="btn-group btn-group-xs">
                        <button type="button" class="btn btn-primary">Ineffective</button>
                        <button type="button" class="btn btn-default">Effective</button>
                        <button type="button" class="btn btn-default">Highty Effective</button>
                    </div>
                </div>
                <div ng-if="!question.notDisplayed" class="col-md-3 p-l-5 p-r-5 p-t-4">
                    <div class="btn-group btn-group-xs">
                        <button type="button" class="btn btn-primary">Frequently</button>
                        <button type="button" class="btn btn-default">Always</button>
                    </div>
                </div>
                <div ng-if="question.notDisplayed" class="col-md-9">
                    <p class="lead text-center f-12 p-t-5">NOT DISPLAYED</p>
                </div>
                <div class="col-md-2 p-l-30">
                    <button class="btn btn-default waves-effect" ng-click="question.showQuestion = !question.showQuestion" style="padding: 3px; padding-top: 1px; padding-bottom: 1px; margin-top: 4px;">
                        <i class="zmdi zmdi-close"></i>
                    </button>
                </div>
            </div>
        </div>

    </div>-->
    <!---->

</div>
<div class="modal-footer">
    <button class="btn btn-link" type="button" ng-click="assessEdit.ok()">OK</button>
    <button class="btn btn-link" type="button" ng-click="assessEdit.cancel()">Cancel</button>
</div>