<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" type="text/css" href="/Client/content/styles/material-design-iconic-font.css"/>
    <title>Ping</title>
</head>
<body>
<div>
    <h2>Iconic Test for Ping 2</h2>
    <span>Font test ==> <i class="zmdi zmdi-account-add"></i></span>
</div>
</body>
</html>
