<div class="modal-header">
    <div class="row">
        <div class="col-md-2">
            <div class="profile-pic">
                <img alt="User Avatar" ng-src="{{main.user.avatarLocation || main.user.defaultAvatarLocation}}">
            </div>

        </div>

        <div class="col-md-8">
            <h4 class="text-center thingHeader">Assessment for Jane Doe</h4>
        </div>
    </div>

    <hr />

</div>
<div class="modal-body">

    <div class="row">
        <div class="col-md-1">
            <button class="btn btn-default waves-effect">
                <i class="zmdi zmdi-more-vert"></i>
            </button>
        </div>

        <div class="col-md-11">
            <p class="lead f-13">
                <strong>Always Highly Effective @ </strong> controlled emotions and impulses while adapting to chaning circumstances
            </p>
        </div>
    </div><div class="row">
    <div class="col-md-1">
        <button class="btn btn-default waves-effect">
            <i class="zmdi zmdi-more-vert"></i>
        </button>
    </div>

    <div class="col-md-11">
        <p class="lead f-13"><strong>Always Highly Effective @ </strong> controlled emotions and impulses while adapting to chaning circumstances</p>
    </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <button class="btn btn-default waves-effect">
                <i class="zmdi zmdi-more-vert"></i>
            </button>
        </div>

        <div class="col-md-11">
            <p class="lead f-13"><strong>Always Highly Effective @ </strong> controlled emotions and impulses while adapting to chaning circumstances</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <button class="btn btn-default waves-effect">
                <i class="zmdi zmdi-more-vert"></i>
            </button>
        </div>

        <div class="col-md-11">
            <p class="lead f-13"><strong>Always Highly Effective @ </strong> controlled emotions and impulses while adapting to chaning circumstances</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <button class="btn btn-default waves-effect">
                <i class="zmdi zmdi-more-vert"></i>
            </button>
        </div>

        <div class="col-md-11">
            <p class="lead f-13"><strong>Always Highly Effective @ </strong> controlled emotions and impulses while adapting to chaning circumstances</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <button class="btn btn-default waves-effect">
                <i class="zmdi zmdi-more-vert"></i>
            </button>
        </div>

        <div class="col-md-11">
            <p class="lead f-13"><strong>Always Highly Effective @ </strong> controlled emotions and impulses while adapting to chaning circumstances</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <button class="btn btn-default waves-effect">
                <i class="zmdi zmdi-more-vert"></i>
            </button>
        </div>

        <div class="col-md-11">
            <p class="lead f-13"><strong>Always Highly Effective @ </strong> controlled emotions and impulses while adapting to chaning circumstances</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <button class="btn btn-default waves-effect">
                <i class="zmdi zmdi-more-vert"></i>
            </button>
        </div>

        <div class="col-md-11">
            <p class="lead f-13"><strong>Always Highly Effective @ </strong> controlled emotions and impulses while adapting to chaning circumstances</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <button class="btn btn-default waves-effect">
                <i class="zmdi zmdi-more-vert"></i>
            </button>
        </div>

        <div class="col-md-11">
            <p class="lead f-13"><strong>Always Highly Effective @ </strong> controlled emotions and impulses while adapting to chaning circumstances</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <button class="btn btn-default waves-effect">
                <i class="zmdi zmdi-more-vert"></i>
            </button>
        </div>

        <div class="col-md-11">
            <p class="lead f-13"><strong>Always Highly Effective @ </strong> controlled emotions and impulses while adapting to chaning circumstances</p>
        </div>
    </div>   


</div>
<div class="modal-footer">
    <button class="btn btn-link" type="button" ng-click="assessEdit.ok()">OK</button>
    <button class="btn btn-link" type="button" ng-click="assessEdit.cancel()">Cancel</button>
</div>