<div class="container animated fadeInRight">
    <div class="block-header">
        <h2>{{crses.academy.Name}} Courses Center</h2>
    </div>

    <div class="card" id="crses-main">
        <div class="listview lv-bordered lv-lg">
            <div class="lv-header-alt clearfix p-b-5">

                <div class="btn-group clearfix m-r-25">
                    <button type="button" class="btn btn-primary" ng-if="crses.view==2 || crses.view==3" ng-click="crses.view=1"><i class="zmdi zmdi-arrow-left zmdi-hc-fw"></i>Back to Courses</button>
                    <button type="button" class="btn btn-warning" ng-class="crses.view==2 ? 'btn-primary' : 'btn-default'" ng-if="crses.view==2 || crses.view==3" ng-click="crses.view=2">Students</button>
                    <button type="button" class="btn btn-warning" ng-class="crses.view==3 ? 'btn-primary' : 'btn-default'" ng-if="crses.view==2 || crses.view==3" ng-click="crses.view=3">Instructors</button>
                    <button type="button" class="btn btn-primary" ng-if="crses.view==1" ng-click="crses.pollLMS(crses.view)">Poll Bb Courses</button>
                    <button type="button" class="btn btn-primary" ng-if="crses.view==2 || crses.view==3" ng-click="crses.pollLMS(crses.view)">Poll Bb Enrollments</button>
                </div>

                <ul class="lv-actions actions">
                    <li class="dropdown" uib-dropdown>
                        <a href="" uib-dropdown-toggle>
                            <i class="zmdi zmdi-more-vert"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a href="crses.refreshData()">Refresh Data</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="lv-body">
                <div ng-switch="crses.view">
                    <div ng-switch-when="1">
                        <div ng-include="'@[appFaculty]/feature/courseAdmin/courses.list.html'"></div>
                    </div>
                    <div ng-switch-when="2 || 3">
                        <div ng-include="'@[appFaculty]/feature/courseAdmin/courses.enroll.html'"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>