<div class="row">
    <div class="col-md-12">
        <div class="text-center">
            <h4 class="lead" ng-if="crses.view==2">{{crses.selectedCourse.classNumber}} {{crses.selectedCourse.name}} Students</h4>
            <h4 class="lead" ng-if="crses.view==3">{{crses.selectedCourse.classNumber}} {{crses.selectedCourse.name}} Instructors</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 p-t-20">
        <div class="table-responsive">
            <table class="table table-hover table-vmiddle">
                <thead>
                    <tr>
                        <th class="header">Name</th>
                        <th class="header">Rank</th>
                        <th class="header">Affiliation</th>
                        <th class="header">Component</th>
                        <th class="header" ng-if="crses.view==2">Group Enrollments</th>
                    </tr>
                    <tr table-filters>
                        <th class="filter">
                            <input type="text" ng-model="filterName" />
                        </th>
                    </tr>
                </thead>
                <tr ng-repeat="student in crses.students | orderBy:['student.person.lastName','student.person.firstName'] track by student.studentPersonId" ng-if="crses.view==2" style="height: 50px">
                    <td>{{student.student.person.lastName}}, {{student.student.person.firstName}}</td>
                    <td>{{student.student.person.rank}}</td>
                    <td>{{student.student.person.affiliation}}</td>
                    <td>{{student.student.person.component}}</td>
                    <td><label ng-repeat="groupMem in student.workGroupEnrollments">{{groupMem.workGroup.mpCategory}}</label></td>
                </tr>
                <!--<tr ng-repeat="facilitator in crses.facilitators | filter:{facultyProfile.person.lastName: filterName} | orderBy:['facultyProfile.person.lastName','facultyProfile.person.firstName'] track by facilitator.facultyProfile.person.id" ng-if="crses.view==3" style="height: 50px">
                    <td>{{facilitator.facultyProfile.person.lastName}}, {{facilitator.facultyProfile.person.firstName}}</td>
                    <td>{{facilitator.facultyProfile.person.rank}}</td>
                    <td>{{facilitator.facultyProfile.person.affiliation}}</td>
                    <td>{{facilitator.facultyProfile.person.component}}</td>
                </tr>-->
            </table>
        </div>
    </div>
</div>
