<div class="row">
    <div class="col-md-12 p-t-20">
        <div>
            <table class="table table-hover table-vmiddle">
                <thead>
                    <tr class="f-16 f-400">
                        <th class="header col-md-2 f-400">Name</th>
                        <th class="header col-md-1 text-center f-400">Class</th>
                        <th class="header col-md-2 text-center f-400">Start Date</th>
                        <th class="header col-md-2 text-center f-400">Grad Date</th>
                        <th class="header col-md-2 text-center f-400">Grad Report</th>
                        <th class="header col-md-3 text-center"></th>
                    </tr>
                </thead>
                <tr ng-repeat="course in cac.courses track by course.id"
                    ng-mouseover="course.menuVisible = true"
                    ng-mouseleave="course.menuVisible = false"
                    style="height: 56px"
                    class="f-14">

                    <td>
                        <i class="zmdi zmdi-bookmark-outline zmdi-hc-fw"
                           ng-if="course.reconResultId"></i>
                        {{course.name}}
                    </td>
                    <td class="text-center">{{course.classNumber}}</td>
                    <td class="text-center">{{cac.formatDate(course.startDate)}}</td>
                    <td class="text-center">{{cac.formatDate(course.gradDate)}}</td>

                    <td class="text-center">
                        <span ng-if="course.gradReportPublished">Published</span>
                        <span ng-if="!course.gradReportPublished">Not Published</span>
                    </td>

                    <td class="text-center">
                        <div uib-dropdown ng-show="course.menuVisible">
                            <button id="{{course.name}}Options"
                                    class="btn btn-icon-text waves-effect"
                                    uib-dropdown-toggle
                                    ng-class="course.classNumber ? 'btn-primary' : 'btn-warning'">
                                <i class="zmdi zmdi-menu"></i>
                                Course Options
                            </button>

                            <ul uib-dropdown-menu role="menu" aria-labelledby="{{course.name}}Options">
                                
                                <li role="menuitem">
                                    <a href="javascript:void(0)"
                                       ng-if="!course.gradReportPublished"
                                       ng-click="cac.publishGrad()">
                                        Publish Grad Report
                                    </a>
                                </li>

                                <li role="menuitem">
                                    <a href="javascript:void(0)"
                                       ng-click="cac.editInfo(course)">
                                        Edit Info
                                    </a>
                                </li>

                                <li class="divider" ng-hide="!course.classNumber"></li>

                                <li role="menuitem" ng-hide="!course.classNumber">
                                    <a href="javascript:void(0)"
                                       ng-disabled="!course.classNumber"
                                       ng-click="cac.goToRoll(course)">
                                        View/Edit Enrollments
                                    </a>
                                </li>

                                <li role="menuitem" ng-hide="!course.classNumber">
                                    <a href="javascript:void(0)"
                                       ng-disabled="!course.classNumber"
                                       ng-click="cac.goToWrkGrp(course)">View/Edit WorkGroups</a>
                                </li>
                            </ul>
                        </div>
                       
                    </td>
                </tr>
            </table>

        </div>
    </div>
</div>