<div class="row">
    <div class="col-md-12">
        <div class="text-center">
            <h4 class="lead" ng-if="crses.view==2">{{crses.selectedCourse.classNumber}} {{crses.selectedCourse.name}} Students</h4>
            <h4 class="lead" ng-if="crses.view==3">{{crses.selectedCourse.classNumber}} {{crses.selectedCourse.name}} Instructors</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 p-t-20">
        <div class="table-responsive">
            <table class="table table-hover table-vmiddle">
                <thead>
                    <tr>
                        <th class="header">Name</th>
                        <th class="header">Rank</th>
                        <th class="header">Affiliation</th>
                        <th class="header">Component</th>
                        <th class="header" ng-if="crses.view==2">Group Enrollments</th>
                    </tr>
                    <tr table-filters>
                        <th class="filter">
                            <input type="text" ng-model="filterName" />
                        </th>
                    </tr>
                </thead>
                <tr ng-repeat="student in crses.students | filter:{lastName: filterName} | orderBy:['lastName','firstName'] track by student.id" ng-if="crses.view==2" style="height: 50px">
                    <td>{{student.person.lastName}}, {{student.person.firstName}}</td>
                    <td>{{student.person.rank}}</td>
                    <td>{{student.person.affiliation}}</td>
                    <td>{{student.person.component}}</td>
                    <td><a ng-repeat="groupMem in student.studGroupEnrollments">{{groupMem.group.groupNumber}}</a></td>
                </tr>
                <tr ng-repeat="facilitator in crses.facilitators | filter:{lastName: filterName} | orderBy:['lastName','firstName'] track by id" ng-if="crses.view==3" style="height: 50px">
                    <td>{{facilitator.person.lastName}}, {{facilitator.person.firstName}}</td>
                    <td>{{facilitator.person.rank}}</td>
                    <td>{{facilitator.person.affiliation}}</td>
                    <td>{{facilitator.person.component}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
