<div class="row">
    <div class="col-md-12">
        <div class="text-center">
            <h4 class="lead" ng-if="cac.activeView==cac.view.students">{{cac.selectedCourse.classNumber}} {{cac.selectedCourse.name}} Students</h4>
            <h4 class="lead" ng-if="cac.activeView==cac.view.instructors">{{cac.selectedCourse.classNumber}} {{cac.selectedCourse.name}} Instructors</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 p-t-20">
        <div class="table-responsive">
            <table class="table table-hover table-vmiddle">
                <thead>
                    <tr>
                        <th class="header text-center col-md-2">Name</th>
                        <th class="header text-center col-md-1">Rank</th>
                        <th class="header text-center col-md-1">Affiliation</th>
                        <th class="header text-center col-md-2">Component</th>
                        <th class="header text-center col-md-2">Course Role</th>
                        <th class="header text-center col-md-2">Status</th>
                        <th class="header text-center col-md-2">Options</th>
                    </tr>
                    <tr table-filters>
                        <th class="filter">
                            <input type="text" ng-model="filterName" />
                        </th>
                    </tr>
                </thead>
                <tr ng-repeat="member in cac.members | orderBy:['member.lastName','member.firstName'] track by member.personId"
                    ng-if="cac.activeView==cac.view.enroll" 
                    style="height: 50px">
                    <td>{{member.lastName}}, {{member.firstName}}</td>
                    <td class="text-center">{{member.mpPaygrade}}</td>
                    <td class="text-center">{{member.mpAffiliation}}</td>
                    <td class="text-center">{{member.mpComponent}}</td>
                    <td class="text-center">{{member.role}}</td>
                    <td class="text-center">{{member.status}}</td>
                    <td>
                        <a href="javascript:void(0)">
                            View Info Card
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
