<div class="container animated fadeInRight">

    <div class="card" id="crses-main">

        <div class="listview lv-bordered lv-lg">

            <div class="lv-header-alt clearfix p-b-15">
                
                <a href="javascript:void(0)"
                   type="button"
                   class="btn btn-link pull-left"
                   ng-if="cac.activeView==cac.view.enroll"
                   ng-click="cac.activeView = cac.view.list">
                    <i class="zmdi zmdi-arrow-left zmdi-hc-fw"></i>
                    Back to Courses
                </a>

                <div class="btn-group" style="margin-left: 117px">

                    <button type="button"
                            class="btn"
                            ng-class="cac.activeView==cac.view.students ? 'btn-primary' : 'btn-default'"
                            ng-if="cac.activeView==cac.view.instructors || cac.view==cac.view.students" 
                            ng-click="crses.activeView=cac.view.students">
                        Students
                    </button>

                    <button type="button"
                            class="btn"
                            ng-class="cac.activeView==cac.view.instructors ? 'btn-primary' : 'btn-default'"
                            ng-if="cac.activeView==cac.view.students || cac.activeView==cac.view.instructors"
                            ng-click="cac.activeView=cac.view.instructors">
                        Instructors
                    </button>

                </div>
                <div class="pull-right">
                    
                    <button type="button"
                            class="btn btn-link waves-effect z-depth-1-bottom"
                            ng-if="cac.activeView==cac.view.list" ng-click="cac.poll()">
                        Poll Bb Courses
                    </button>

                    <button type="button"
                            class="btn btn-link waves-effect z-depth-1-bottom"
                            ng-if="cac.activeView == cac.view.enroll"
                            ng-click="cac.poll()">
                        Poll Bb Enrollments
                    </button>

                    <ul class="lv-actions actions">
                        <li class="dropdown" uib-dropdown>
                            <a href="javascript:void(0)" uib-dropdown-toggle>
                                <i class="zmdi zmdi-more-vert"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="javascript:void(0)" ng-click="cac.refreshData()">
                                        Refresh Data
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="lv-body">
                <div ng-switch="cac.activeView">
                    <div ng-switch-when="1">
                        <div ng-include="'@[appFaculty]/feature/courseAdmin/courses.list.html'"></div>
                    </div>
                    <div ng-switch-when="2">
                        <div ng-include="'@[appFaculty]/feature/courseAdmin/courses.enroll.html'"></div>
                    </div>
                    <div ng-switch-when="3">
                        <div ng-include="'@[appFaculty]/feature/courseAdmin/courses.enroll.html'"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>