<div class="row">
    <div class="col-md-12 p-t-20">
        <div class="table-responsive">
            <table class="table table-hover table-vmiddle">
                <thead class="f-16">
                    <tr>
                        <th class="header col-md-3 text-left f-16 f-400">Flight</th>
                        <th class="header col-md-3 text-left f-400 f-16">
                            <button class="btn f-400 c-black btn-link f-16" 
                                    ng-click="cag.sortList(cag.sortOpt.group)">
                                Group Type
                                <i class="zmdi"
                                   ng-if="cag.activeSort.opt === cag.sortOpt.group" 
                                   ng-class="cag.activeSort.desc ? ' zmdi-sort-amount-desc' : ' zmdi-sort-amount-asc'"></i>
                            </button>
                        </th>
                        <th class="header col-md-3 text-left f-400 f-16">
                            <button class="btn f-400 c-black btn-link f-16"
                                    ng-click="cag.sortList(cag.sortOpt.status)">
                                Status
                                <i class="zmdi"
                                   ng-if="cag.activeSort.opt === cag.sortOpt.status" 
                                   ng-class="cag.activeSort.desc ? ' zmdi-sort-amount-desc' : ' zmdi-sort-amount-asc'"></i>
                            </button>
                        </th>
                        <th class="header col-md-3 text-left f-400 f-16">Last Modified By</th>
                        <th class="header col-md-3 text-left f-400">Enrollments</th>
                    </tr>
                    <tr table-filters>
                        <td class="filter">
                            <ui-select multiple
                                       ng-model="cag.filters.name.filterWith"
                                       theme="select2"
                                       style="width: 100%">

                                <ui-select-match placeholder="--Filter By Flight Number--">
                                    {{$item.key}}
                                </ui-select-match>

                                <ui-select-choices repeat="name.key as name in grps.filters.name.optionList | filter: $select.search">
                                    <div>
                                        <span>
                                            Name:
                                            <span ng-bind-html="' ' + name.key |highlight: $select.search"></span>&nbsp;|&nbsp;{{name.count}} items
                                        </span>
                                    </div>
                                </ui-select-choices>
                            </ui-select>
                        </td>
                        <td class="filter">
                            <ui-select multiple
                                       ng-model="cag.filters.cat.filterWith"
                                       theme="select2"
                                       style="width: 100%">
                                
                                <ui-select-match placeholder="--Filter By Group Category--">{{$item.key}}</ui-select-match>
                                <ui-select-choices repeat="cat.key as cat in grps.filters.cat.optionList | filter: $select.search">
                                    <span>  Category: <span ng-bind-html="' ' + cat.key |highlight: $select.search"></span>&nbsp;|&nbsp;{{cat.count}} items</span>
                                </ui-select-choices>
                            </ui-select>
                        </td>
                        <td class="filter">
                            <ui-select multiple
                                       ng-model="cag.filters.status.filterWith"
                                       theme="select2" style="width: 100%">

                                <ui-select-match placeholder="--Filter By Pub Status--">{{$item.key}}</ui-select-match>

                                <ui-select-choices repeat="status.key as status in grps.filters.status.optionList | filter: $select.search">
                                    <span> Pub Status: <span ng-bind-html="' ' + status.key |highlight: $select.search"></span>&nbsp;|&nbsp;{{status.count}} items</span>
                                </ui-select-choices>
                            </ui-select>
                        </td>
                    </tr>
                </thead>
                <tr ng-repeat="group in cag.workGroups | orderBy: cag.activeSort.opt:grps.activeSort.desc | filter: cag.filteredGrpFlight | filter: cag.filteredGrpCat | filter: cag.filteredGrpStatus track by group.id"
                    ng-mouseover="group.isVisible = true"
                    ng-mouseleave="group.isVisible = false"
                    style="height: 50px">
                    
                    <td>{{group.defaultName}}</td>
                    <td>{{group.mpCategory}}</td>
                    <td>{{group.mpSpStatus}}</td>
                    <td>{{cag.getFacultyById(group.modifiedById)}}</td>
                    <td style="width: 100px">
                        <button type="button"
                                ng-if="group.isVisible"
                                ng-click="cag.goToGroup(group); group.isVisible=false;" 
                                class="btn btn-link waves-effect">
                            Enrollments
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
