<div class="row">
    <div class="col-md-12 p-t-20">
        <div class="table-responsive">
            <table class="table table-hover tableCenterAlign">
                <thead>
                <tr>
                    <th>Student</th>
                    <th style="padding-left: 22px;">Assessments</th>
                    <th>Strat</th>
                    <th ng-if="!assess.stratInputVis" style="padding-left: 22px;">Comments</th>
                    <th ng-if="assess.stratInputVis">Strat Position</th>
                    <th ng-if="assess.stratInputVis">Composite Ranking</th>

                </tr>
                </thead>
                <tbody>

                <tr class="tableBottomBorder">
                    <td>Jason Silvers</td>
                    <td>

                        <button class="btn btn-link" ng-click="assess.addAssessment()">Add</button>

                    </td>
                    <td>3</td>
                    <td ng-if="!assess.stratInputVis">
                        <button class="btn btn-link" ng-click="assess.addComment()">View/Edit</button>

                    </td>

                    <td ng-if="assess.stratInputVis">
                        <input class="form-control" type="text" style="width: 20px">
                    </td>
                    <td ng-if="assess.stratInputVis">
                        <table>
                            <tr>
                                <td>E: 4</td>
                                <td>AE: 4</td>
                                <td>HE: 2</td>
                            </tr>
                        </table>
                    </td>
                </tr>



                </tbody>
            </table>

        </div>
    </div>
</div>

<div ui-view></div>

