<div class="row">
    <div class="col-md-12 p-t-20">
        <div class="table-responsive">
            <table class="table table-hover tableCenterAlign">
                <thead>
                    <tr>
                        <th>Student</th>
                        <th style="padding-left: 22px;">Assessments</th>                     
                        <th ng-if="!assess.stratInputVis" style="padding-left: 22px;">Comments</th>
                        <th ng-if="assess.stratInputVis">Composite Ranking</th>
                        <th>Strat</th>
                        <th ng-if="assess.stratInputVis">Strat Position</th>
                        <th ng-if="assess.StratError"></th>


                    </tr>
                </thead>
                <tbody>

                <tr class="tableBottomBorder">
                    <td>{{assess.studentSelf.student.person.firstName}} {{assess.studentSelf.student.person.lastName}}</td>
                    <td>

                        <button class="btn btn-link" ng-click="assess.addAssessment()">Add</button>

                    </td>

                    <td ng-if="!assess.stratInputVis">
                        <button class="btn btn-link" ng-click="assess.addComment()">View/Edit</button>

                    </td>
                    <td ng-if="assess.stratInputVis">
                        <table>
                            <tr>
                                <td>E: 4</td>
                                <td>AE: 4</td>
                                <td>HE: 2</td>
                            </tr>
                        </table>
                    </td>

                    <td>3</td>

                    <td ng-if="assess.stratInputVis" style="width: 120px">
                        <input class="form-control" id="inputError1" type="text" style="width: 100px">
                    </td>

                    <td><label class="control-label" for="inputError1">Duplicate Value!</label></td>


                </tr>

                <tr ng-repeat="peer in assess.peers track by peer.studentId">
                    <td>{{peer.student.person.firstName}} {{peer.student.person.lastName}}</td>
                    <td>

                        <button class="btn btn-link" ng-click="assess.addAssessment(peer)">Add</button>

                    </td>

                    <td ng-if="!assess.stratInputVis">
                        <button class="btn btn-link" ng-click="assess.addComment(peer.id)">View/Edit</button>

                    </td>
                    <td ng-if="assess.stratInputVis">
                        <table>
                            <tr>
                                <td>E: 4</td>
                                <td>AE: 4</td>
                                <td>HE: 2</td>
                            </tr>
                        </table>
                    </td>

                    <td>3</td>

                    <td ng-if="assess.stratInputVis" style="width: 120px">
                        <input class="form-control" id="inputError1" type="text" style="width: 100px">
                    </td>

                    <td><label class="control-label" for="inputError1">Duplicate Value!</label></td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

<div ui-view></div>

