<div class="row">
    <div class="col-md-12">
        <div class="text-center">
            <h3 class="lead">Capstone Results</h3>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 p-t-20">
        <div class="table-responsive">
            <table class="table table-hover tableCenterAlign table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th colspan="4" class="text-center" ng-repeat="groupType in groups.groupTypes | orderBy: 'groupType'">{{groupType}}</th>
                  </tr>
                    <tr></tr>
                    <tr>
                        <th>Student</th>
                        <th ng-repeat-start="groupType in groups.groupTypes | orderBy: 'groupType'">Strat</th>
                        <th>Self</th>
                        <th>Peer</th>
                        <th ng-repeat-end>Inst</th>
                   
                    </tr>

                </thead>
                <tbody>
                    <tr ng-repeat="studentCM in groups.capstoneStudents | orderBy: 'studentCM.student.person.lastName' track by studentCM.id" ng-mouseover="studentCM.isVisible = true" ng-mouseleave="studentCM.isVisible = false" style="height: 50px">
                        <td><a ng-click="groups.viewCapstoneStudentDetails(studentCM)" href="">{{studentCM.student.person.lastName}}, {{studentCM.student.person.firstName}}</a></td>
                        <td ng-repeat-start="groupType in groups.groupTypes | orderBy: 'groupType'">{{groups.groupCapstoneData[studentCM.id].studentCapstoneData[groupType].strat}}</td>
                        <td>{{groups.groupCapstoneData[studentCM.id].studentCapstoneData[groupType].self}}</td>
                        <td>{{groups.groupCapstoneData[studentCM.id].studentCapstoneData[groupType].peer}}</td>
                        <td ng-repeat-end>{{groups.groupCapstoneData[studentCM.id].studentCapstoneData[groupType].fac}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

