<div class="container animated fadeInRight">
    <div class="block-header">
        <h2>{{groups.fullName}} Groups Center</h2>

        <ul class="actions">
            <li class="dropdown" uib-dropdown>
                <a href="" uib-dropdown-toggle>
                    <i class="zmdi zmdi-sort"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li ng-repeat="course in groups.courses track by $index">
                        <a href="javascript:void(0)">{{course}}</a>
                    </li>

                </ul>
            </li>
        </ul>
    </div>

    <div class="card" id="groups-main">
        <div class="listview lv-bordered lv-lg">
            <div class="lv-header-alt clearfix p-b-5">

                <div class="btn-group clearfix m-r-25">

                    <button type="button" class="btn btn-primary btn-icon-text" ng-if="groups.isPublishing" ng-click="groups.publishView=0"><i class="zmdi zmdi-check"></i>Comments</button>
                    <button type="button" class="btn btn-primary" ng-if="groups.back" ng-click="groups.view=0; groups.back=false"><i class="zmdi zmdi-arrow-left zmdi-hc-fw"></i>Back to Groups</button>
                    <button type="button" class="btn bgm-default" ng-if="groups.isPublishing" ng-click="groups.publishView=1">Stratify</button>
                    <button type="button" class="btn bgm-default" ng-if="groups.isPublishing" ng-click="groups.publishView=2">Publish</button>

                </div>

                <button type="button" class="btn btn-danger" ng-if="groups.isPublishing" ng-click="">Cancel Publication</button>

                <ul class="lv-actions actions">

                    <li class="dropdown" uib-dropdown>

                        <button class="btn btn-link m-b-10 dropdown-toggle" uib-dropdown-toggle>Group 1</button>

                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li>
                                <a href="">Group 2</a>
                            </li>
                            <li>
                                <a href="">Group 3</a>
                            </li>
                        </ul>
                    </li>



                    <li class="dropdown" uib-dropdown>
                        <a href="" uib-dropdown-toggle>
                            <i class="zmdi zmdi-more-vert"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a href="">Refresh Data</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="lv-body" ng-init="groups.view=0">
                <div ng-switch="groups.view">
                    <div ng-switch-when="0">
                        <div ng-include="'wwwroot/app/facilitator/features/groups/tmpls/facilitator.groups.tmpl.html'"></div>
                    </div>
                    <div ng-switch-when="1">
                        <div ng-include="'wwwroot/app/facilitator/features/groups/tmpls/facilitator.groups.assess.tmpl.html'"></div>
                    </div>
                    <div ng-switch-when="2">
                        <div ng-include="'wwwroot/app/facilitator/features/groups/tmpls/facilitator.groups.publish.tmpl.html'"></div>
                    </div>
                    <div ng-switch-when="3">
                        <div ng-include="'wwwroot/app/facilitator/features/groups/tmpls/facilitator.groups.results.tmpl.html'"></div>
                    </div>
                    <div ng-switch-when="4">
                        <div ng-include="'wwwroot/app/facilitator/features/groups/tmpls/facilitator.groups.capstoneresults.tmpl.html'"></div>
                    </div>
                </div>

            </div>

            <div ng-if="groups.isPublishing" class="p-t-30 p-b-30 text-center">
                <button type="button" class="btn btn-primary">Save</button>
            </div>

        </div>
    </div>
</div>
