<div class="col-md-6  p-l-5 p-r-5 p-t-4">
    <div class="btn-group btn-group-sm">
        <label class="btn btn-default" ng-class="{'btn-primary': csd.radioResponseType=='Assessor'}" ng-model="csd.radioResponseType" uib-btn-radio="'Assessor'" ng-change="csd.calcAssessor()">Assessor</label>
        <label class="btn btn-default" ng-class="{'btn-primary': csd.radioResponseType=='Assessee'}" ng-model="csd.radioResponseType" uib-btn-radio="'Assessee'">Assessee</label>
    </div>
</div>
<uib-tabset justified="true">
    <uib-tab ng-repeat="groupEnroll in csd.student.studGroupEnrollments | orderyBy groupEnroll.group.groupNumber" heading="{groupEnroll.group.groupNumber}">
        <table class="table table-hover table-vmiddle">
            <thead>
                <tr>
                    <th class="header">Student</th>
                    <th class="header">Strat</th>
                    <th class="header">Assessment Overall</th>
                </tr>
            </thead>
            <tr ng-repeat="peer in groupEnroll.groupPeers | orderBy peer.student.person.lastName track by peer.id" ng-if="csd.radioResponseType='Assessee'">
                <td>{{peer.student.person.lastName}}, {{peer.student.person.firstName}}</td>
                <td>{{csd.assesseeByPeer[peer.id].strat}}</td>
                <td><a ng-click="csd.capstoneView=1; csd.popBehaviors(peer)" href="">{{csd.assesseeByPeer[peer.id].assessment}}</a></td>
            </tr>
            <tr ng-repeat="peer in groupEnroll.groupPeers | orderBy peer.student.person.lastName track by peer.id" ng-if="csd.radioResponseType='Assessor'">
                <td>{{peer.student.person.lastName}}, {{peer.student.person.firstName}}</td>
                <td>{{csd.assessorByPeer[peer.id].strat}}</td>
                <td><a ng-click="csd.capstoneView=1; csd.popBehaviors(peer)" href="">{{csd.assessorByPeer[peer.id].assessment}}</a></td>
            </tr>
        </table>
    </uib-tab>
</uib-tabset>