<div class="container animated fadeInRight">
    <div class="block-header">
        <h2>Bob Anderson's Assessment Center</h2>

        <ul class="actions">
            <li class="dropdown" uib-dropdown>
                <a href="" uib-dropdown-toggle>
                    <i class="zmdi zmdi-sort"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="javascript:void(0)">ILE 16-3</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">ILE 16-2</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="card" id="assessments-main">
        <div class="listview lv-bordered lv-lg">
            <div class="lv-header-alt clearfix p-b-5" >

                <div class="btn-group">
                    <button type="button" class="btn btn-primary">Assessments</button>
                    <button type="button" class="btn btn-default">Results</button>
                </div>

                <ul class="lv-actions actions">

                    <li class="dropdown" uib-dropdown>

                        <button class="btn btn-link m-b-10 dropdown-toggle" uib-dropdown-toggle>Group 1</button>

                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li>
                                <a href="">Group 2</a>
                            </li>
                            <li>
                                <a href="">Group 3</a>
                            </li>
                        </ul>
                    </li>

                    

                    <li class="dropdown" uib-dropdown>
                        <a href="" uib-dropdown-toggle>
                            <i class="zmdi zmdi-more-vert"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a href="">Refresh Data</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="lv-body">

                <div class="row">
                    <div class="col-md-12 p-t-20">
                        <div class="table-responsive">
                            <table class="table table-hover tableCenterAlign">
                                <thead>
                                    <tr>
                                        <th>Student</th>
                                        <th>Comments</th>
                                        <th>Assessments</th>
                                        <th>Strat</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr class="tableBottomBorder">
                                        <td>Jason Silvers</td>
                                        <td>
                                            <button class="btn btn-link" ng-click="assess.addComment()">View/Edit</button>

                                        </td>
                                        <td>
                                            <button class="btn btn-link" ng-click="assess.addAssessment()">View/Edit</button>

                                        </td>
                                        <td>3</td>
                                    </tr>
                                    <tr>
                                        <td>Everybody Else</td>
                                        <td>
                                            <button class="btn btn-link" ng-click="assess.addComment()">View/Edit</button>

                                        </td>
                                        <td>
                                            <button class="btn btn-link" ng-click="assess.addAssessment()">View/Edit</button>

                                        </td>
                                        <td>3</td>
                                    </tr>
                                    <tr>
                                        <td>Everybody Else</td>
                                        <td>
                                            <button class="btn btn-link" ng-click="assess.addComment()">View/Edit</button>

                                        </td>
                                        <td>
                                            <button class="btn btn-link" ng-click="assess.addAssessment()">View/Edit</button>

                                        </td>
                                        <td>3</td>
                                    </tr>



                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>


                

            </div>

        </div>
    </div>
</div>
