<div class="container animated fadeInRight">
    <div class="block-header">
        <h2>Bob Anderson's Assessment Center</h2>
    </div>

    <div class="card" id="assessments-main">
        <div class="listview lv-bordered lv-lg">
            <div class="lv-header-alt clearfix">
                
                <ul class="lv-actions actions">

                    <li class="dropdown" uib-dropdown>
                        <a href="" uib-dropdown-toggle>
                            <i class="zmdi zmdi-sort"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a href="">ILE 16-3</a>
                            </li>
                            <li>
                                <a href="">ILE 16-2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="">
                            <i class="zmdi zmdi-info"></i>
                        </a>
                    </li>
                    <li class="dropdown" uib-dropdown>
                        <a href="" uib-dropdown-toggle>
                            <i class="zmdi zmdi-more-vert"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a href="">Refresh Data</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="lv-body">
                <uib-tabset jusitifed="true" class="p-l-30">
                    <uib-tab heading="Group1">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Student</th>
                                    <th>Comments</th>
                                    <th>Assessments</th>
                                    <th>Strat</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Jason Silvers</td>
                                    <td>
                                        <i class="tm-icon zmdi zmdi-comments"></i>
                                        <i class="tmn-counts">3</i>

                                    </td>
                                    <td>
                                        <div class="btn-group" role="group">
                                            <button type="button" class="btn btn-default" ng-click="assessAe.addAssessment()">View</button>
                                            <button type="button" class="btn btn-default" ng-click="open('edit')">Edit</button>
                                        </div>
                                    </td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>Jason Silvers</td>
                                    <td>
                                        <i class="tm-icon zmdi zmdi-comments"></i>
                                        <i class="tmn-counts">3</i>

                                    </td>
                                    <td>
                                        <div class="btn-group" role="group">
                                            <button type="button" class="btn btn-default">View</button>
                                            <button type="button" class="btn btn-default">Edit</button>
                                        </div>
                                    </td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>Jason Silvers</td>
                                    <td>
                                        <i class="tm-icon zmdi zmdi-comments"></i>
                                        <i class="tmn-counts">3</i>

                                    </td>
                                    <td>
                                        <div class="btn-group" role="group">
                                            <button type="button" class="btn btn-default">View</button>
                                            <button type="button" class="btn btn-default">Edit</button>
                                        </div>
                                    </td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>Jason Silvers</td>
                                    <td>
                                        <i class="tm-icon zmdi zmdi-comments"></i>
                                        <i class="tmn-counts">3</i>

                                    </td>
                                    <td>
                                        <div class="btn-group" role="group">
                                            <button type="button" class="btn btn-default">View</button>
                                            <button type="button" class="btn btn-default">Edit</button>
                                        </div>
                                    </td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>Jason Silvers</td>
                                    <td>
                                        <i class="tm-icon zmdi zmdi-comments"></i>
                                        <i class="tmn-counts">3</i>

                                    </td>
                                    <td>
                                        <div class="btn-group" role="group">
                                            <button type="button" class="btn btn-default">View</button>
                                            <button type="button" class="btn btn-default">Edit</button>
                                        </div>
                                    </td>
                                    <td>3</td>
                                </tr>

                                <tr>
                                    <td>Jason Silvers</td>
                                    <td>
                                        <i class="tm-icon zmdi zmdi-comments"></i>
                                        <i class="tmn-counts">3</i>

                                    </td>
                                    <td>
                                        <div class="btn-group" role="group">
                                            <button type="button" class="btn btn-default">View</button>
                                            <button type="button" class="btn btn-default">Edit</button>
                                        </div>
                                    </td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>Jason Silvers</td>
                                    <td>
                                        <i class="tm-icon zmdi zmdi-comments"></i>
                                        <i class="tmn-counts">3</i>

                                    </td>
                                    <td>
                                        <div class="btn-group" role="group">
                                            <button type="button" class="btn btn-default">View</button>
                                            <button type="button" class="btn btn-default">Edit</button>
                                        </div>
                                    </td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>Jason Silvers</td>
                                    <td>
                                        <i class="tm-icon zmdi zmdi-comments"></i>
                                        <i class="tmn-counts">3</i>

                                    </td>
                                    <td>
                                        <div class="btn-group" role="group">
                                            <button type="button" class="btn btn-default">View</button>
                                            <button type="button" class="btn btn-default">Edit</button>
                                        </div>
                                    </td>
                                    <td>3</td>
                                </tr>
                                </tbody>
                            </table>

                        </div>

                    </uib-tab>
                    <uib-tab heading="Group2">Group 2</uib-tab>
                    <uib-tab heading="Group3">Group 3</uib-tab>

                </uib-tabset>

            </div>

        </div>
    </div>
</div>
