<div class="modal-header">
    <div>
        <h4 class="text-center thingHeader">{{viewStatus.group.defaultName}}-{{viewStatus.group.mpCategory}} Status</h4>
    </div>
    <hr />
</div>


<table class="table table-hover tableCenterAlign">
    <thead>
        <tr>
            <th>Student</th>
            <th>Self</th>
            <th>Peer</th>
            <th>Strats</th>
            <th>Comments</th>
            <th>Response Aggregates</th>
        </tr>
    </thead>
    <tbody>
        <!--<tr ng-repeat="status in viewStatus.spStatuses | orderBy:'status.groupMember.student.person.lastName' track by status.groupMember.id">
            <td>{{status.groupMember.student.person.mpRank}} {{status.groupMember.student.person.lastName}}, {{status.groupMember.student.person.FirstName}}</td>
            <td ng-if="status.selfComplete"><i class="zmdi zmdi-check"></i></td>
            <td class="error" ng-if="!status.selfComplete">X</td>
            <td ng-if="status.peersComplete==groups.peersTotal"><i class="zmdi zmdi-check"></i></td>
            <td class="error" ng-if="status.peersComplete!==(groups.group.groupMembers.length - 1)">{{status.peersComplete}}/{{(groups.group.groupMembers.length - 1)}}</td>
            <td ng-if="status.stratsComplete==groups.group.groupMembers.length"><i class="zmdi zmdi-check"></i></td>
            <td class="error" ng-if="status.stratsComplete!==groups.group.groupMembers.length">{{status.stratsComplete}}/{{groups.group.groupMembers.length}}</td>
            <td>{{status.groupMember.authorOfComments.length}}</td>
            <td>HE:{{status.hEGiven}} E:{{status.eGiven}} IE:{{status.iEGiven}} ND:{{status.nDGiven}}</td>
        </tr>-->

        <tr ng-repeat="groupMember in viewStatus.group.groupMembers | orderBy: 'student.person.lastName' track by groupMember.id">
            <td>{{groupMember.student.person.mpRank}} {{groupMember.student.person.lastName}}, {{groupMember.student.person.FirstName}}</td>
            <td ng-if="viewStatus.spStatuses[groupMember.id].self"><i class="zmdi zmdi-check"></i></td>
            <td class="error" ng-if="!viewStatus.spStatuses[groupMember.id].self">X</td>
            <td ng-if="viewStatus.spStatuses[groupMember.id].peer==(viewStatus.group.groupMembers.length - 1)"><i class="zmdi zmdi-check"></i></td>
            <td class="error" ng-if="viewStatus.spStatuses[groupMember.id].peer!==(viewStatus.group.groupMembers.length - 1)">{{viewStatus.spStatuses[groupMember.id].peer}}/{{(viewStatus.group.groupMembers.length - 1)}}</td>
            <td ng-if="viewStatus.spStatuses[groupMember.id].strats==viewStatus.group.groupMembers.length"><i class="zmdi zmdi-check"></i></td>
            <td class="error" ng-if="viewStatus.spStatuses[groupMember.id].strats!==viewStatus.group.groupMembers.length">{{viewStatus.spStatuses[groupMember.id].strats}}/{{viewStatus.group.groupMembers.length}}</td>
            <td>{{groupMember.authorOfComments.length}}</td>
            <td>HE:{{viewStatus.spStatuses[groupMember.id].hEGiven}} E:{{viewStatus.spStatuses[groupMember.id].eGiven}} ND:{{viewStatus.spStatuses[groupMember.id].nDGiven}} IE:{{viewStatus.spStatuses[groupMember.id].iEGiven}}</td>
        </tr>


        <!--<tr>
            <td>MSgt Longname, Testlongname</td>
            <td><i class="zmdi zmdi-check"></i></td>
            <td><i class="zmdi zmdi-check"></i></td>
            <td><i class="zmdi zmdi-check"></i></td>
            <td>0</td>
            <td>HE:5 E:10 IE:3 ND:4</td>
        </tr>
        <tr>
            <td>MSgt Doe, John</td>
            <td><i class="zmdi zmdi-check"></i></td>
            <td><i class="zmdi zmdi-check"></i></td>
            <td class="error">3/10</td>
            <td>3</td>
            <td>HE:5 E:10 IE:3 ND:4</td>
        </tr>-->
    </tbody>
</table>


<div class="modal-footer">
    <button class="btn btn-link" type="button" ng-click="viewStatus.close()">Close</button>
</div>