<div class="card" id="assessments-main">
    <div class="listview lv-bordered lv-lg">
        <div class="lv-header-alt clearfix p-b-5">

            <a href="javascript:void(0)" ui-sref="{{stateMgr.faculty.wgList.name}}"><i class="zmdi zmdi-arrow-back"></i> Return to WorkGroups</a>

            <ul class="lv-actions actions">

                <li class="dropdown" uib-dropdown>

                    <button class="btn btn-link m-b-10 dropdown-toggle" uib-dropdown-toggle>{{assess.grpDisplayName}}</button>

                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li ng-repeat="group in assess.workGroups track by group.id ">
                            <a href="javascript:void(0)" ng-click="assess.setActiveGroup(group)">{{group.mpCategory}} - {{group.defaultName}}</a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown" uib-dropdown>
                    <a href="" uib-dropdown-toggle>
                        <i class="zmdi zmdi-more-vert"></i>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a href="">Refresh Data</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="lv-body">
            <div class="row">
                <div class="col-md-12 p-t-20">
                    <div class="table-responsive">
                        <table class="table table-hover tableCenterAlign table-ft-lrg">
                            <thead>
                                <tr>
                                    <th class="col-md-3 text-center">Student</th>
                                    <th class="col-md-2 text-center">Assessments</th>
                                    <th class="col-md-2 text-center">Comments</th>
                                    <th class="col-md-1 text-center">Strat</th>
                                    <th class="col-md-3 text-center">Composite/Breakout</th>
                                </tr>
                            </thead>
                            <tbody >
                                <tr ng-repeat="member in wka.groupMembers track by member.studentId">
                                    <td>{{member.studentProfile.person.firstName}} {{member.studentProfile.person.lastName}}</td>
                                    <td class="text-center">
                                        <a class="btn btn-link" href="javascript:void(0)" ng-click="wka.loadAssessment(member.studentId)">
                                            {{member.assessText}}
                                        </a>
                                    </td>

                                    <td class="text-center">
                                        <a href="javascript:void(0)" class="btn btn-link" ng-click="wka.loadComment(member.studentId)">{{member.commentText}}</a>

                                    </td>
                                    <td class="text-center">
                                        {{member.statusOfStudent.stratedPosition || 'Not Stratified'}}
                                    </td>

                                    <td class="text-center">
                                        <div pie-sp-break-out dataset="member.chartSosData" class="spflot-chart-pie" legend="flotlegend{{$index}}"> </div>
                                        <div id="flotlegend{{$index}}" style="display: none"></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




