<ul class="actions">
    <li class="dropdown" uib-dropdown>
        <a href="javascript:void(0)" uib-dropdown-toggle>
            <i class="zmdi zmdi-sort"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
            <li ng-repeat="course in wkl.courses track by course.id">
                <a href="javascript:void(0)" ng-click="wkl.changeActiveCourse(course);">{{wkl.activeCourse.classNumber}} {{wkl.activeCourse.name}}</a>
            </li>
        </ul>
    </li>
</ul>

<div class="card" id="groups-main">
    <div class="listview lv-bordered lv-lg">
        <div class="lv-header-alt clearfix p-b-5">

            <ul class="lv-actions actions">
                <li class="dropdown" uib-dropdown>
                    <a href="" uib-dropdown-toggle>
                        <i class="zmdi zmdi-more-vert"></i>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a href="wkl.refreshInit()">Refresh Data</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="lv-body">
            <div class="row">
                <div class="col-md-12 p-t-20">

                    <div class="table-responsive">
                        <table class="table table-hover table-vmiddle">
                            <thead>
                            <tr>
                                <th class="header col-md-3 text-center">
                                    <button class="btn f-500 c-black btn-link f" ng-click="wkgrpOrderBy='defaultName'">
                                        Flight
                                        <i class="zmdi zdmi-triangle-down" ng-if="wkgrpOrderBy=='defaultName'"></i>
                                    </button>
                                </th>


                                <th class="header col-md-3  text-center">
                                    <button class="btn f-500 c-black btn-link f" ng-click="wkgrpOrderBy='mpCategory'">
                                        Group Type
                                        <i class="zmdi zdmi-triangle-down" ng-if="wkgrpOrderBy==='mpCategory'"></i>
                                    </button>
                                </th>

                                <th class="header col-md-3  text-center">
                                    <button class="btn f-500 c-black btn-link f" ng-click="wkgrpOrderBy='mpSpStatus'">
                                        Status<i class="zmdi zdmi-triangle-down" ng-if="wkgrpOrderBy=='mpSpStatus'"></i>
                                    </button>
                                </th>

                                <th class="header col-md-3  text-center">Options</th>

                            </tr>
                            </thead>
                            <tr table-filters>
                                <td class="filter">
                                    <ui-select multiple ng-model="wkl.filters.name.filterWith" theme="select2" style="width: 100%">
                                        <ui-select-match placeholder="--Filter By Flight Number--">{{$item.key}}</ui-select-match>
                                        <ui-select-choices repeat="name.key as name in wkl.filters.name.optionList | filter: $select.search">
                                            <div>
                                                <span> Name: <span ng-bind-html="' ' + name.key |highlight: $select.search"></span>&nbsp;|&nbsp;{{name.count}} items</span>
                                            </div>
                                        </ui-select-choices>
                                    </ui-select>
                                </td>
                                <td class="filter">
                                    <ui-select multiple ng-model="wkl.filters.cat.filterWith" theme="select2" style="width: 100%">
                                        <ui-select-match placeholder="--Filter By Group Category--">{{$item.key}}</ui-select-match>
                                        <ui-select-choices repeat="cat.key as cat in wkl.filters.cat.optionList | filter: $select.search">
                                            <span>  Category: <span ng-bind-html="' ' + cat.key |highlight: $select.search"></span>&nbsp;|&nbsp;{{cat.count}} items</span>
                                        </ui-select-choices>
                                    </ui-select>
                                </td>
                                <td class="filter">

                                    <ui-select multiple ng-model="wkl.filters.status.filterWith" theme="select2" style="width: 100%">
                                        <ui-select-match placeholder="--Filter By Pub Status--">{{$item.key}}</ui-select-match>
                                        <ui-select-choices repeat="status.key as status in wkl.filters.status.optionList | filter: $select.search">
                                            <span> Pub Status: <span ng-bind-html="' ' + status.key |highlight: $select.search"></span>&nbsp;|&nbsp;{{status.count}} items</span>
                                        </ui-select-choices>
                                    </ui-select>
                                   
                                </td>

                            </tr>

                            <tr ng-repeat="wg in wkl.activeCourse.workGroups | filter: wkl.filteredGrpFlight | filter: wkl.filteredGrpCat | filter: wkl.filteredGrpStatus track by wg.id"
                                ng-mouseover="wg.isVisible = true" ng-mouseleave="wg.isVisible = false" style="height: 50px">
                                <td>{{wg.defaultName}}</td>
                                <td>{{wg.mpCategory}}</td>
                                <td>{{wg.mpSpStatus}}</td>
                                <td style="width: 475px">
                                    <div ng-show="wg.isVisible">
                                
                                <div class="btn-group btn-group-xs" role="group" ng-if="wg.mpSpStatus !== mp.MpSpStatus.published">
                                
                                    
                                    <button ng-click="wkl.viewStatus(wg)" 
                                            type="button" 
                                            class="btn btn-link btn-sm waves-effect btn-info">
                                            View Status
                                    </button>

                                    <a href="javascript:void(0)"
                                       ui-sref="{{stateMgr.faculty.wgAssess.name}}({crseId: {{wg.courseId}},wgId: {{wg.id}}})"
                                       class="btn btn-link btn-sm waves-effect btn-info">
                                        Assess Group
                                    </a>

                                    <button ng-click="wkl.goToPublish(wg)"
                                            type="button"
                                            ng-class="wg.canPublish ? 'btn-success' : 'btn-danger'"
                                            class="btn btn-link btn-sm waves-effect">
                                            Publish
                                    </button>
                                </div>

                               <div class="btn-group btn-group-xs" role="group" ng-if="wg.mpSpStatus === mp.MpSpStatus.published">

                                    <button  ng-click="wkl.goToResults(wg)" 
                                             type="button" 
                                             class="btn btn-link btn-sm waves-effect">
                                             Group Results
                                    </button>
                                
                                    <button ng-if="wkl.course.gradReportPublished" 
                                            ng-click="wkl.goToCapstone(wg)" 
                                            type="button" 
                                            class="btn btn-link btn-sm waves-effect">
                                            Capstone Results
                                    </button>
                                </div>
                           </div>

                                </td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
