<div class="row">
    <div class="col-md-12 p-t-20">
        <div class="table-responsive">
            <table class="table table-hover tableCenterAlign">
                <thead>
                    <tr>
                        <th class="col-md-4">Student</th>
                        <th class="col-md-2">Previous Position</th>
                        <th class="col-md-3">New Position</th>
                        <th class="col-md-3">Composite Ranking</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="gm in gmWithComments | orderBy:'gm.studentProfile.person.lastName' track by gm.studentId">
                        <td>{{:gm.rankName}}</td>
                        <td>{{}}</td>
                        <td>
                            <input class="form-control"
                                   type="number"
                                   min="1"
                                   max="groups.selectedGroup.groupMembers.length"
                                   ng-model="gm.proposedPosition" 
                                   style="width: 20px" />
                        </td>
                        <td>
                            <div id="sp-chart-data-{{$index}}" ng-if="member.hasChartData">
                                <span class="sp-graph-composite">{{member.statusOfStudent.compositeScore}}</span>
                                <div pie-sp-break-out dataset="member.chartSosData" class="spflot-chart-pie" legend="flotlegend{{$index}}"> </div>
                                <div id="flotlegend{{$index}}" style="display: none"></div>
                            </div>
                            <div ng-if="!member.hasChartData">
                                No Data
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>
</div>