<div class="row">
    <div class="col-md-12 p-t-20">
        <div class="table-responsive">
            <table class="table table-hover tableCenterAlign">
                <thead>
                    <tr class="f-16">
                        <th class="col-md-3 f-400">Student</th>
                        <th class="col-md-3 text-center f-400">Composite Ranking</th>
                        <th class="col-md-2 text-center f-400">Current Strat</th>
                        <th class="col-md-2 text-center f-400">Proposed Change</th>
                        <th class="col-md-2 text-center f-400">Validation</th>
                    </tr>
                </thead>
                <tbody class="f-14">
                    <tr ng-repeat="member in wkp.groupMembers | orderBy:'nameSorter.last' track by member.studentId">
                        <td style="border-right: 1px solid #f0f0f0;">{{member.rankName}}</td>
                        <td class="text-center p-0">
                            <div ng-if="!member.hasChartData">
                                No Assessment
                            </div>
                            <div id="sp-chart-data-{{$index}}" ng-if="::member.hasChartData">
                                <span class="sp-graph-composite">{{::member.statusOfStudent.compositeScore}}</span>
                                <div sp-break-out-chart
                                     charttype="pie"
                                     dataset="member.statusOfStudent.breakOutChartData"
                                     class="spflot-chart-pie" 
                                     legend="flotlegend{{$index}}"> </div>
                                <div id="flotlegend{{$index}}" style="display: none"></div>
                            </div>
                        </td>
                        <td class="text-center">
                            <span ng-if="member.statusOfStudent.stratedPosition" style="width: 100px; font-size: 1.8em">
                                {{member.statusOfStudent.stratedPosition}}
                            </span>
                            <span ng-if="!member.statusOfStudent.stratedPosition">
                                None
                            </span>
                        </td>
                        <td class="text-center">
                            <input class="form-control text-center"
                                   type="number"
                                   style="width: 100px; font-size: 1.8em"
                                   min="1"
                                   max="{{wkp.groupCount}}"
                                   ng-change="wkp.evaluateStrat()"
                                   ng-disabled="wkp.isSaving"
                                   ng-model="member.proposedStratPosition"
                                   ng-model-options="{debounce: 500}"
                                   tabindex="{{$index + 1}}" />
                        </td>
                        
                            
                        <td class="text-center">
                            <span ng-if="member.stratIsValid">
                                Valid
                            </span>
                            <span ng-if="!member.stratIsValid">
                                <a href="javascript:void(0)" 
                                   popover-append-to-body="true" 
                                   popover-placement="left-top" 
                                   popover-trigger="mouseenter" 
                                   popover-title="Errors" 
                                   uib-popover-template="'@[appCore]/common/tpls/stratErrorPopover.tpl.html'">
                                    Invalid
                                </a>
                            </span>
                        </td>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>
</div>