<div class="row">
    <div class="col-md-12">
        <div class="text-center">
            <h4 class="lead" ng-if="instruments.selectedInstrument!=null">{{instruments.selectedInstrument.MpEducationLevel}}-{{instruments.selectedInstrument.MpGroupType}}-v{{instruments.selectedInstrument.Version}} <a class="vmdi vmdi-lock-outline" ng-if="instruments.selectedInstrument.used"></a></h4>
            <h4 class="lead" ng-if="instruments.selectedInstrument==null">New Assessment</h4>
            <!--<h4 class="lead">NCOA-BC1-v1</h4>-->
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 p-t-20">
        <div class="table-responsive">
            <table class="table table-hover table-vmiddle">
                <tr>
                    <td>Education Level</td>
                    <td>
                        <div class="col-md-6  p-l-5 p-r-5 p-t-4">
                            <div class="btn-group btn-group-sm">
                                <label class="btn btn-default" ng-class="{'btn-primary': instruments.radioEduLevel=='SNCOA'}" ng-model="instruments.radioEduLevel" uib-btn-radio="'SNCOA'" ng-change="instruments.checkLock()">SNCOA</label>
                                <label class="btn btn-default" ng-class="{'btn-primary': instruments.radioEduLevel=='NCOA'}" ng-model="instruments.radioEduLevel" uib-btn-radio="'NCOA'" ng-change="instruments.checkLock()">NCOA</label>
                                <label class="btn btn-default" ng-class="{'btn-primary': instruments.radioEduLevel=='ALS'}" ng-model="instruments.radioEduLevel" uib-btn-radio="'ALS'" ng-change="instruments.checkLock()">ALS</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Group Types</td>
                    <td>
                        <div class="col-md-6  p-l-5 p-r-5 p-t-4">
                            <div class="btn-group btn-group-sm">
                                <label class="btn btn-default" ng-repeat="type in instrument.groupTypes" ng-class="{'btn-primary': instruments.checkGroupType[type]}" ng-model="instruments.checkGroupType[type]" uib-btn-checkbox ng-change="instruments.checkLock()">{{type}}</label>
                                <!--<label class="btn btn-default" ng-class="{'btn-primary': instruments.checkGroupType.BC1}" ng-model="instruments.checkGroupType.BC1" uib-btn-checkbox>BC1</label>
                                <label class="btn btn-default" ng-class="{'btn-primary': instruments.checkGroupType.BC2}" ng-model="instruments.checkGroupType.BC2" uib-btn-checkbox>BC2</label>
                                <label class="btn btn-default" ng-class="{'btn-primary': instruments.checkGroupType.BC3}" ng-model="instruments.checkGroupType.BC3" uib-btn-checkbox>BC3</label>
                                <label class="btn btn-default" ng-class="{'btn-primary': instruments.checkGroupType.BC4}" ng-model="instruments.checkGroupType.BC4" uib-btn-checkbox>BC4</label>-->
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Version</td>
                    <td>{{instruments.selectedInstrument.version}}</td>
                    <!--<td>1</td>-->
                </tr>
                <tr>
                    <td>Self Instructions</td>
                    <td>
                        <button type="button" class="btn btn-link waves-effect" ng-if="instruments.selectedInstrument.selfInstructions!=null" ng-click="instruments.addEditInstructions('Self')">View/Edit</button>
                        <button type="button" class="btn btn-link waves-effect" ng-if="instruments.selectedInstrument.selfInstructions==null && !instruments.selectedInstrument.used" ng-click="instruments.addEditInstructions('Self')">Add</button>
                    </td>
                </tr>
                <tr>
                    <td>Peer Instructions</td>
                    <td>
                        <button type="button" class="btn btn-link waves-effect" ng-if="instruments.selectedInstrument.peerInstructions!=null" ng-click="instruments.addEditInstructions('Peer')">View/Edit</button>
                        <button type="button" class="btn btn-link waves-effect" ng-if="instruments.selectedInstrument.peerInstructions==null && !instruments.selectedInstrument.used" ng-click="instruments.addEditInstructions('Peer')" ng-disabled="instruments.selectedInstrument.used">Add</button>
                    </td>
                </tr>
                <tr>
                    <td>Instructor Instructions</td>
                    <td>
                        <button type="button" class="btn btn-link waves-effect" ng-if="instruments.selectedInstrument.instructorInstructions!=null" ng-click="instruments.addEditInstructions('Instructor')">View/Edit</button>
                        <button type="button" class="btn btn-link waves-effect" ng-if="instruments.selectedInstrument.instructorInstructions==null && !instruments.selectedInstrument.used" ng-click="instruments.addEditInstructions('Instructor')" ng-disabled="instruments.selectedInstrument.used">Add</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

