<div class="row">
    <div class="col-md-12">
        <div class="text-center">
            <!--<h4 class="lead">{{instruments.selectedInstrument.MpEducationLevel}}-{{instruments.selectedInstrument.MpGroupType}}-v{{instruments.selectedInstrument.Version}} Behaviors</h4>-->
            <h4 class="lead">NCOA-BC1-v1 Behaviors</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 p-t-20">
        <div class="table-responsive">
            <table class="table table-hover table-vmiddle">
                <thead>
                    <tr>
                        <th class="header">Display Order</th>
                        <th class="header">Scored</th>
                        <th class="header">Displayed</th>
                        <th class="header">Behavior</th>
                        <th class="header"></th>
                    </tr>
                </thead>
                <tr ng-repeat="inventory in inventories.inventories track by inventory.id" ng-mouseover="inventory.isVisible = true" ng-mouseleave="inventory.isVisible = false" style="height: 50px">
                    <td ng-if="!inventory.edit">{{inventory.DisplayOrder}}</td>
                    <td ng-if="!inventory.edit">{{inventory.IsScored}}</td>
                    <td ng-if="!inventory.edit">{{inventory.IsDisplayed}}</td>
                    <td style="width:700px" ng-if="!inventory.edit">{{inventory.Behavior}}</td>
                    <td style="width: 200px" ng-if="!inventory.edit">
                        <button type="button" ng-if="inventory.isVisible" ng-click="inventory.edit=true" class="btn btn-link waves-effect">Edit</button>
                    </td>
                    <td ng-if="inventory.edit"><input class="form-control" type="text" style="width: 20px"></td>
                    <td ng-if="inventory.edit"><button class="btn-xs btn-primary">True</button></td>
                    <td ng-if="inventory.edit"></td>
                    <td style="width:700px" ng-if="inventory.edit"><input class="form-control" type="text" style="width: 700px"></td>
                    <td style="width: 200px" ng-if="inventory.edit">
                        <button type="button" ng-click="inventory.edit=true" class="btn btn-link waves-effect">Done</button>
                    </td>
                </tr>

                <tr ng-mouseover="inventory.isVisible = true" ng-mouseleave="inventory.isVisible = false" style="height: 50px">
                    <td ng-if="!inventory.edit">1</td>
                    <td ng-if="!inventory.edit">False</td>
                    <td ng-if="!inventory.edit">False</td>
                    <td style="width:700px" ng-if="!inventory.edit">fostered an inclusive environment</td>
                    <td style="width: 200px" ng-if="!inventory.edit">
                        <button type="button" ng-if="inventory.isVisible" ng-click="inventory.edit=true" class="btn btn-link waves-effect">Edit</button>
                    </td>
                    <td ng-if="inventory.edit"><input class="form-control" type="text" style="width: 20px"></td>
                    <td ng-if="inventory.edit"><button class="btn-xs btn-primary" ng-if="inventory.scored" ng-click="inventory.scored=false">True</button><button class="btn-xs btn-primary" ng-if="!inventory.scored" ng-click="inventory.scored=true">False</button></td>
                    <td ng-if="inventory.edit"><button class="btn-xs btn-primary" ng-if="inventory.displayed" ng-click="inventory.displayed=false">True</button><button class="btn-xs btn-primary" ng-if="!inventory.displayed" ng-click="inventory.displayed=true">False</button></td>
                    <td style="width:700px" ng-if="inventory.edit"><input class="form-control" type="text" style="width: 700px"></td>
                    <td style="width: 200px" ng-if="inventory.edit">
                        <button type="button" ng-click="inventory.edit=false" class="btn btn-link waves-effect">Done</button>
                    </td>
                </tr>
                <tr ng-mouseover="inventory.isVisible = true" ng-mouseleave="inventory.isVisible = false" style="height: 50px">
                    <td>2</td>
                    <td>True</td>
                    <td>True</td>
                    <td style="width:700px">displayed a professional attitude</td>
                    <td style="width: 200px">
                        <button type="button" ng-if="inventory.isVisible" ng-click="inventories.view=1; inventories.back=true; inventories.enrollments=true" class="btn btn-link waves-effect">Edit</button>
                    </td>
                </tr>
                <tr ng-mouseover="inventory.isVisible = true" ng-mouseleave="inventory.isVisible = false" style="height: 50px">
                    <td>3</td>
                    <td>True</td>
                    <td>True</td>
                    <td style="width:700px">did something</td>
                    <td style="width: 200px">
                        <button type="button" ng-if="inventory.isVisible" ng-click="inventories.view=1; inventories.back=true; inventories.enrollments=true" class="btn btn-link waves-effect">Edit</button>
                    </td>
                </tr>

            </table>

        </div>
    </div>
</div>

