<div class="row">
    <div class="col-md-12">
        <p class="lead">{{assessAdd.activeResponse.inventoryItem.behavior}}</p>
    </div>
</div>

<div class="row p-b-20 p-t-20">
    <div class="col-md-1">
        <ul class="lv-actions actions">
            <li class="dropdown" uib-dropdown>
                <a href="" uib-dropdown-toggle>
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-left">
                    <li>
                        <a href="" ng-if="assessAdd.notDisplayed" ng-click="assessAdd.notDisplayed=false">Displayed</a>
                    </li>
                    <li>
                        <a href="" ng-if="!assessAdd.notDisplayed" ng-click="assessAdd.notDisplayed=true; assessAdd.checkResponse(null)">Not Displayed</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div>
        <div ng-if="!assessAdd.notDisplayed" class="col-md-7">
            <div class="btn-group btn-group-sm">
                <button type="button" class="btn btn-default waves-effect" ng-class="{'btn-primary': assessAdd.radioEffectiveness=='ineffective'}" ng-model="assessAdd.radioEffectiveness" uib-btn-radio="'ineffective'" ng-change="assessAdd.checkResponse(null)">Ineffective</button>
                <button type="button" class="btn btn-default waves-effect" ng-class="{'btn-primary': assessAdd.radioEffectiveness=='effective'}" ng-model="assessAdd.radioEffectiveness" uib-btn-radio="'effective'" ng-change="assessAdd.checkResponse(null)">Effective</button>
                <button type="button" class="btn btn-default waves-effect" ng-class="{'btn-primary': assessAdd.radioEffectiveness=='highlyeffective'}" ng-model="assessAdd.radioEffectiveness" uib-btn-radio="'highlyeffective'" ng-change="assessAdd.checkResponse(null)">Highly Effective</button>
            </div>
        </div>
        <div ng-if="!assessAdd.notDisplayed" class="col-md-4">
            <div class="btn-group btn-group-sm">
                <button type="button" class="btn btn-default waves-effect" ng-class="{'btn-primary': assessAdd.radioFreq=='frequently'}" ng-model="assessAdd.radioFreq" uib-btn-radio="'frequently'" ng-change="assessAdd.checkResponse(null)">Frequently</button>
                <button type="button" class="btn btn-default waves-effect" ng-class="{'btn-primary': assessAdd.radioFreq=='always'}" ng-model="assessAdd.radioFreq" uib-btn-radio="'always'" ng-change="assessAdd.checkResponse(null)">Always</button>
            </div>
        </div>
    </div>
    <div ng-if="assessAdd.notDisplayed" class="col-md-11">
        <p class="lead text-center">NOT DISPLAYED</p>
    </div>
</div>



<hr />

<div class="row">
    <div class="col-md-12 text-center">
        <ul class="pagination">
            <li ng-repeat="spResponse in assessAdd.spResponses | orderBy:'spResponse.inventoryItem.displayOrder' track by spResponse.inventoryItem.id" ng-class="{success: spResponse.mpItemResponse!==null, active: assessAdd.activeResponse.inventoryItem.id==spResponse.inventoryItem.id}" ng-click="assessAdd.pageCheck(spResponse)"><a href="">{{spResponse.inventoryItem.displayOrder}}</a></li>
        </ul>
    </div>
</div>

