<div class="container">

    <div class="block-header">
        <h2>Academy Maintenance<small></small></h2>

        <ul class="actions hidden-xs">
            <li class="dropdown" uib-dropdown>
                <a href="" uib-dropdown-toggle>
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="javascript:void(0)" ng-click="acad.addAcademy()">New Academy</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="card">
        <div class="card-header">
            <h2>Academy List <small></small></h2>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table ng-table="acad.tableBasic" class="table table-striped table-vmiddle">
                    <tr ng-repeat="a in acad.academyList track by a.id">
                        <td data-title="'ID'">
                            {{ a.id }}
                        </td>
                        <td data-title="'Name'">
                            {{ a.name }}
                        </td>
                        <td data-title="'Email'">
                            {{ a.email }}
                        </td>
                        <td data-title="'Username'">
                            {{ w.username }}
                        </td>
                        <td data-title="'Contact'">
                            {{ w.contact }}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>


