<div class="modal-header">
    <h4 class="thinHeader">{{instructions.type}} Instructions</h4>
</div>
<div class="modal-body ">
    <form name="instructions.nf" class="form-horizontal" novalidate role="form">
        <div class="form-group">
            <div class="fg-line">
                <div class="col-md-12">
                    <div text-angular ng-model="instructions.instructions" class="pmbb-edit"></div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-link" type="button" ng-click="instructions.ok()">OK</button>
    <button class="btn btn-link" type="button" ng-click="instructions.cancel()">Cancel</button>
</div>
